﻿@*@using OCManager.Entities.DBEntities;*@
<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OC Manager</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/typeahead.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/fullCalendar")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="~/Scripts/typeahead.bundle.js"></script>
    <script src="~/Scripts/siteLayout.js"></script>


    @*<link rel="stylesheet" href="content/bootstrap.min.css" />
    <link rel="stylesheet" href="content/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="content/style.css" />
    <link href="content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">*@

    <script type="text/javascript">
        $(document).ready(function () {
            $('#timepicker1').timepicker({
                showMeridian: false,
                minuteStep: 5
            });
            $('#timepicker2').timepicker({
                showMeridian: false,
                minuteStep: 5
            });
            $('#txtCalendar').datepicker("setDate", new Date());

            $('.Calendar').datepicker();
        });



    </script>

    <style type="text/css">
        .bootstrap-timepicker-widget {
            z-index: 1048 !important;
        }

        .datepicker-dropdown {
            z-index: 1048 !important;
        }
    </style>


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Календарь", "Index", "OccurenceManager", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                @if (Request.IsAuthenticated && Session["userID"] != null)
                {
                    <ul class="nav navbar-nav">

                        <li>@Html.ActionLink("Home", "Index", "OccurenceManager")</li>
                        <li class="" data-toggle="modal" data-target="#addPatient">@Html.ActionLink("Добавить пациента", "AddPatient", "OccurenceManager")</li>

                        <li data-toggle="modal" data-target="#addAppointment">@Html.ActionLink("Add Appointment", "AddAppointment", "OccurenceManager")</li>
                        <li data-toggle="modal" data-target="#searchPatient">@Html.ActionLink("Search Patient", "SearchPatient", "OccurenceManager")</li>
                        @*<li class="" data-toggle="modal" onclick="loadAppointment();" data-target="#addAppointment">@Html.ActionLink("Add Appointment", "AddAppointment", "OccurenceManager")</li>*@

                        @*<li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ЕКМС</p>
        </footer>
    </div>
    @if (Context.User.Identity.IsAuthenticated && Session["userID"] != null)
    {
        @Html.Partial("~/Views/OccurenceManager/_AddPatient.cshtml")
        @Html.Partial("~/Views/OccurenceManager/_AddAppointment.cshtml");
        @Html.Partial("~/Views/OccurenceManager/_SearchPatient.cshtml");
    }
    @*@Html.Partial("~/Views/OccurenceManager/_AddAppointment.cshtml")*@
    <div id="myPartialContainer"></div>

</body>
</html>
