﻿@using OCManager.Entities.DBEntities;
@model IEnumerable<OCManager.Entities.DBEntities.Appointment>


<form class="form-horizontal">
    <div style="padding-left:10px;" class="container">
        <div class="row" style="padding-top:30px;">
            <div class="form-group">
                <label style="width:25%" class="control-label col-sm-2" for="doctors">Добавления к цене :</label>
                <div style="width:18%" class="col-md-10">
                    @Html.DropDownList("DiscountIncrease", ((List<Discount>)ViewData["discountList"]).Where(a => a.Type == "increase").ToList()
.Select(m => new SelectListItem
{ Text = m.Name, Value = Convert.ToString(m.Value) }), "-",
                 new { @class = "selectpicker test" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label style="width:25%" class="control-label col-sm-2" for="doctors">Скидки :</label>
                <div style="width:18%" class="col-md-10">
                    @Html.DropDownList("DiscountBonus", ((List<Discount>)ViewData["discountList"]).Where(a => a.Type == "discount" || a.Type == "bonus")
.ToList().Select(m => new SelectListItem
{ Text = m.Name, Value = Convert.ToString(m.Value) }), "-",
                 new { @class = "selectpicker test1", @onchange = "calculatePrice();" })
                </div>
            </div>
        </div>


        <table class="table table-bordered pagin-table" style="width:65%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        Кол-во
                    </th>
                    <th>
                        Cost
                    </th>
                </tr>
            </thead>
            <tbody class="connectedSortable">
                @{ int i = 0; }
                @foreach (var item in Model)
                {
                    string selectID = "select" + item.Form_ID + "_" + i;
                    <tr id="@item.Form_ID">
                        <td style="display:none;">
                            @Html.HiddenFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <select id="@selectID" class="selectlist"></select>
                        </td>
                        <td style="display:none;">
                            @Html.HiddenFor(modelItem => item.Cost)
                        </td>
                        <td style="display:none;">
                            @Html.HiddenFor(modelItem => item.Second_Treatment_Discount)
                        </td>
                        <td style="display:none;">
                            @Html.HiddenFor(modelItem => item.story_discount)
                        </td>
                        <td style="display:none;">
                            @Html.HiddenFor(modelItem => item.First_Consult_Bonus)
                        </td>
                        <td style="display:none;">
                            @Html.HiddenFor(modelItem => item.Certificate_Payment)
                        </td>
                        <td style="display:none;">
                            @Html.HiddenFor(modelItem => item.Order)
                        </td>
                        <td>
                            0 р.
                        </td>
                    </tr>
                    i++;
                }
                <tr>
                    <td></td>
                    <td>
                        Total: <label id="tot">@this.ViewData["cost"].ToString()</label>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div>
                <button type="button" id="btnSaveNest" onclick="saveNested(this);" class="btn btn-default">Save</button>
                <input type="hidden" id="hdnFrmDataID" value="" />
                <input type="hidden" id="id_@Model.FirstOrDefault().Form_ID"  value="" />
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    jQuery(function () {
        var selectList = {
            "0": "-",
            "1": "1",
            "2": "2",
            "3": "3",
            "4": "4",
            "5": "5",
            "6": "6",
            "7": "7",
            "8": "8",
            "9": "9",
            "10": "10",
            "11": "11",
            "12": "12",
            "13": "13",
            "14": "14",
            "15": "15",
            "16": "16",
            "17": "17",
            "18": "18",
            "19": "19",
            "20": "20"
        };
        var frmGroups = [
   { FormId: 2051655, vals: ["10", "5", "5", "5", "2", "2"] },
   { FormId: 2051656, vals: ["10", "10", "10", "10", "3", "2"] },
   { FormId: 2051657, vals: ["10", "5", "5", "5", "3", "3"] },
   { FormId: 2051658, vals: ["10", "10", "10", "10", "5", "5"] },
   { FormId: 1951659, vals: ["5", "10", "5", "5", "10"] },
   { FormId: 1951660, vals: ["10", "10", "10", "10", "10"] },
   { FormId: 1951661, vals: ["5", "5", "5", "5", "5", "3", "2"] },
   { FormId: 1951669, vals: ["5", "5", "5", "5", "5", "5", "10", "3", "2"] },
   { FormId: 1951662, vals: ["10", "10", "10", "10", "10", "5", "5"] },
   { FormId: 1951663, vals: ["5", "5", "5", "5", "5", "3", "2", "10"] },
   { FormId: 1951664, vals: ["10", "10", "10", "10", "10", "5", "5", "10"] },
   { FormId: 1951671, vals: ["10", "5", "5", "5", "5"] },
   { FormId: 1951672, vals: ["10", "10", "10", "10", "10"] },
   { FormId: 1951670, vals: ["10", "10", "10", "10", "10", "10", "10", "5", "5", "5"] },
   { FormId: 1951665, vals: ["10", "5", "10", "5"] },
   { FormId: 1951666, vals: ["10", "10", "10", "10"] },
   { FormId: 2161880, vals: ["10", "5", "5", "5", "5", "5", "10", "3", "2"] },
   { FormId: 2161881, vals: ["10", "10", "10", "10", "10", "10", "10", "5", "5", "5"] },

        ];
        var matches = [];
        var frmID = @Model.FirstOrDefault().Form_ID;
      
        var res = jQuery.grep(frmGroups, function(item) {

            return(item.FormId === frmID);
        });
      
        matches = res[0].vals;

        var count = 0;
        $('.selectlist').each(function () {
            $.each(selectList, function (val, text) {
                $("#select" + @Model.FirstOrDefault().Form_ID + "_" + count).append($('<option />', {
                    value: val,
                    text: text
                }));
            });
            $("#select" + @Model.FirstOrDefault().Form_ID + "_" + count).val(matches[count]);
            count++;
        });
    });
</script>


<script src="~/Scripts/siteLayout.js"></script>