﻿@using OCManager.Entities.DBEntities;
@model IEnumerable<OCManager.Entities.DBEntities.Appointment>

@{
    ViewBag.Title = "ConfigureForm1247857";
}

<h2>ConfigureForm1247857</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>
<form id="Myfrm" class="form-horizontal">
    <div class="container">

        <table class="table table-bordered pagin-table">
            <thead>
                <tr>
                    @*<th>
                            @Html.DisplayNameFor(model => model.TS)
                        </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.Form_ID)
                        </th>*@
                    <th style="width:50px">
                        @Html.DisplayNameFor(model => model.Cost)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ordinary_Discount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Second_Treatment_Discount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.story_discount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First_Consult_Bonus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Certificate_Payment)
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.Doctor_Time)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nurse_Time)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Code_OMC)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OMC_Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Order)
                        </th>*@
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody class="connectedSortable">
                @foreach (var item in Model)
            {
                    <tr>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.TS)
                            </td>*@
                        <td style="display:none">
                            @Html.HiddenFor(modelItem => item.ID)
                        </td>
                        <td style="width:450px;">
                            @Html.TextBoxFor(modelItem => item.Name, new { style = "max-width:432px; width:450px" })
                        </td>
                        <td style="width:50px;">
                            @Html.TextBoxFor(modelItem => item.Cost, new { style = "width:45px" })
                        </td>
                        <td>
                            @*@Html.DropDownListFor(modelItem => item.Type)*@
                            @{
                                int val = 0;
                                if (item.Type == "multi")
                                { val = 1; }
                                else if (item.Type == "title")
                                { val = 2; }
                            }
                            @Html.DropDownListFor(model => item.Type, new SelectList(
                  new List<Object>{
                       new { value = 0 , text = "Single"  },
                       new { value = 1 , text = "Multi" },
                       new { value = 2 , text = "Title"}
                    },
                  "value",
                  "text", val))
                        </td>
                        <td>
                            @if (item.Ordinary_Discount == "1")
                            {
                                <input type="checkbox" id="ord" class="checkbox" checked="checked" value="1" />
                                <input type="hidden" id="Ordinary_Discount" name="Ordinary_Discount" value="1" />
                            }
                            else
                            {
                                <input type="checkbox" id="ord" class="checkbox" value="0" />
                                <input type="hidden" id="Ordinary_Discount" name="Ordinary_Discount" value="0" />
                            }
                        </td>
                        <td>
                            @if (item.Second_Treatment_Discount == "1")
                            {
                                <input type="checkbox" id="std" checked="checked" class="checkbox" value="1" />
                                <input type="hidden" id="Second_Treatment_Discount" name="Second_Treatment_Discount" value="1" />
                            }
                            else
                            {
                                <input type="checkbox" id="ord" value="0" class="checkbox" />
                                <input type="hidden" id="Second_Treatment_Discount" name="Second_Treatment_Discount" value="0" />
                            }
                        </td>
                        <td>
                            @if (item.story_discount == "1")
                            {
                                <input type="checkbox" id="std" class="checkbox" checked="checked" value="1" />
                                <input type="hidden" id="story_discount" name="story_discount" value="1" />
                            }
                            else
                            {
                                <input type="checkbox" id="ord" class="checkbox" value="0" />
                                <input type="hidden" id="story_discount" name="story_discount" value="0" />
                            }
                        </td>
                        <td>
                            @if (item.First_Consult_Bonus == "1")
                            {
                                <input type="checkbox" id="std" class="checkbox" checked="checked" value="1" />
                                <input type="hidden" id="First_Consult_Bonus" name="First_Consult_Bonus" value="1" />
                            }
                            else
                            {
                                <input type="checkbox" id="ord" class="checkbox" value="0" />
                                <input type="hidden" id="First_Consult_Bonus" name="First_Consult_Bonus" value="0" />
                            }
                        </td>
                        <td>
                            @if (item.Certificate_Payment == "1")
                            {
                                <input type="checkbox" id="std" checked="checked" class="checkbox" value="1" />
                                <input type="hidden" id="Certificate_Payment" name="Certificate_Payment" value="1" />
                            }
                            else
                            {
                                <input type="checkbox" id="ord" value="0" class="checkbox" />
                                <input type="hidden" id="Certificate_Payment" name="Certificate_Payment" value="0" />
                            }
                        </td>
                        <td style="display:none">
                            @Html.HiddenFor(modelItem => item.Order)
                        </td>
                        <td>
                            <input type="button" id="btnDelete" value="Delete" />
                        </td>

                    </tr>
                                }
                <tr>
                    <td colspan="9">
                        <input style="margin-left:15px; float:left;" onclick="addDynamicRow(this);" type="button" id="addRow" value="+" />
                    </td>
                </tr>
            </tbody>

        </table>

        <div class="row">
            <div>
                <button type="button" id="btnSaveForm" class="btn btn-default">Save</button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    jQuery(function () {
        var ids = [];
        jQuery("tbody").sortable({
            connectWith: ".connectedSortable",
            update: function (event, ui) {
                ids = jQuery("tbody").find('input[id="item_ID"]').map(function () {
                    return this.value;
                }).get();
            }
        }).disableSelection();
        $.fn.serializeObject = function () {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function () {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

        var arr = [];

        $("#btnSaveForm").click(function () {
            var listObj = $("#Myfrm").serializeObject();
            $.each(listObj[Object.keys(listObj)[0]], function (i) {
                var row = {
                    ID: listObj[Object.keys(listObj)[0]][i],
                    TS: '',
                    Form_ID: '',
                    Name: listObj[Object.keys(listObj)[1]][i],
                    Cost: listObj[Object.keys(listObj)[2]][i],
                    Type: listObj[Object.keys(listObj)[3]][i],
                    Ordinary_Discount: listObj.Ordinary_Discount[i],
                    Second_Treatment_Discount: listObj.Second_Treatment_Discount[i],
                    story_discount: listObj.story_discount[i],
                    First_Consult_Bonus: listObj.First_Consult_Bonus[i],
                    Certificate_Payment: listObj.Certificate_Payment[i],
                    Doctor_Time: '',
                    Nurse_Time: '',
                    Code_OMC: '',
                    OMC_Price: '',
                    Order: i+1,
                }
                debugger;
                if (row.Cost != "" && row.Name != "")
                    arr.push(row);
            });
            debugger;
            $.ajax({
                type: "POST",
                dataType: 'json',
                traditional: true,
                contentType: 'application/json; charset=utf-8',
                url: '../../Form/ConfigureForm1247857',
                data: JSON.stringify({ lstApp: arr, vals: ids }),
                success: function (response) {
                    console.log(response);
                },
                error: function () {
                    alert("Error Occured");
                }
            });
        });

    });
    $(".checkbox").change(function () {
        if (this.checked) {
            $(this).next().val('1');
        }
        else
            $(this).next().val('0');
    });
    function addDynamicRow(obj) {
        var row = $(obj).parent().parent().prev()[0].outerHTML;
        debugger;

        $(obj).parent().parent().before(row);
        var row1 = $(obj).parent().parent().prev();
        $(row1).find('input:checkbox').removeAttr("checked");
        $(row1).find('input:text').val('');
        $(row1).find('input:hidden').val('');
        $(row1).find('select option').removeAttr('selected');
        $(row1).find('#item_Order').val(parseInt($(row).find("#item_Order").val()) + 1);
    }
    //function selectVal(obj) {
    //    alert(1);
    //    if ($(obj).val() == "1") {
    //        $(obj).next().val('1');
    //    }
    //    else {
    //        $(obj).next().val('0');
    //    }
    //}
</script>
