﻿
@{
    ViewBag.Title = "Form";
}

<div class="modal fade" id="FormContainer" tabindex="-1" role="dialog" aria-labelledby="FormLabel">
    <div class="modal-dialog" role="document" style="width:805px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="FormLabel">Form</h4>
            </div>
            <div style="padding-left:50px; height:400px; overflow-y:scroll; overflow-x:hidden;" class="container">
                <form class="form-horizontal">

                    <div class="row">
                        <div class="form-group">
                            <div id="formContainerData"></div>
                           
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                
            </div>
        </div>
    </div>

</div>
