﻿@model OCManager.Entities.DBEntities.Form1464314
@{
    ViewBag.Title = "OMC Formss";
}

<div style="padding-left:50px; height: 100px;" class="container">

    @using (Html.BeginForm("Form", "Form1464314", FormMethod.Post, new { id = "Form1464314" }))
    {
        <div class="row">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <font size="4">
                    <b>
                        Status oculorum OU ddf
                    </b>
                </font> <br />
                @*<input type="button" onclick="fillValues();" value="click me" />*@
                <div class="form-group">
                    <label class="control-label col-md-2" for="priem_1">Прием</label>
                    <div class="col-md-10" style="width:130px; margin-top:7px">
                        <select id="priem_1" name="priem_1">
                            <option value="-">-</option>
                            <option selected="" value="первичный">первичный</option>
                            <option value="повторный">повторный</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.priem_1, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Дата", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.data_4, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.data_4, "", new { @class = "text-danger" })
                    </div>
                </div>

                <font size="4"> <b>Острота зрения </b> </font> <br />
                <div class="form-group">
                    <div style="float:left;">
                        <label class="control-label col-md-2" for="VIS_OD" style="width: 100px; margin-left: 27px;">VIS OD</label>
                        <div class="col-md-10" style="width:100px">
                            <input type="text" class="form-control" id="VIS_OD_6_">
                            @Html.ValidationMessageFor(model => model.VIS_OD_6_, "", new { @class = "text-danger" })
                        </div>
                        <span style="float:left"> б/о,</span>
                    </div>
                    <div style="float:left">
                        <label class="control-label col-md-2" for="VIS_OD" style="width: 100px; ">VIS OD</label>
                        <div class="col-md-10" style="width:100px">
                            <input type="text" class="form-control" id="VIS_OD_8_">
                            @Html.ValidationMessageFor(model => model.VIS_OD_8_, "", new { @class = "text-danger" })
                        </div>
                        <span style="float:left"> в/о</span>
                    </div>
                </div>

                <div class="form-group">
                    <div style="float:left;">
                        <label class="control-label col-md-2" for="VIS_OS_10_" style="width: 100px; margin-left: 27px;">VIS OS</label>
                        <div class="col-md-10" style="width:100px">
                            @Html.EditorFor(model => model.VIS_OS_10_, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.VIS_OS_10_, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div style="float:left">
                        <label class="control-label col-md-2" for="VIS_OS_11_" style="width: 100px;  margin-left: 24px;">VIS OS</label>
                        <div class="col-md-10" style="width:100px">
                            @Html.EditorFor(model => model.VIS_OS_11_, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.VIS_OS_11_, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <font size="4"> <b>Предварительная максимальная коррекция </b> </font> <br />


                <div class="form-group">
                    <label class="control-label col-md-2" for="Vis_OD_13" style="width: 100px; margin-left: 27px; ">VIS OD</label>
                    <div class="col-md-10" style="width:100px; margin-right:-20px">
                        @Html.EditorFor(model => model.Vis_OD_13, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Vis_OD_13, "", new { @class = "text-danger" })
                    </div>

                    <label class="control-label col-md-2" for="sph_14" style="width: 10px; padding-right:20px "> sph: </label>
                    <div class="col-md-10" style="width:100px; margin-right:-20px">
                        @Html.EditorFor(model => model.sph_14, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.sph_14, "", new { @class = "text-danger" })
                    </div>


                    <label class="control-label col-md-2" for="cyl_15" style="width: 10px; padding-right:20px "> cyl: </label>
                    <div class="col-md-10" style="width:100px; margin-right:-20px">
                        @Html.EditorFor(model => model.cyl_15, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.cyl_15, "", new { @class = "text-danger" })
                    </div>

                    <label class="control-label col-md-2" for="ax_16" style="width: 10px; padding-right:20px "> ax: </label>
                    <div class="col-md-10" style="width:100px; margin-right:-20px">
                        @Html.EditorFor(model => model.ax_16, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ax_16, "", new { @class = "text-danger" })
                    </div>

                    <label class="control-label col-md-2" for="_17" style="width: 5px;"> = </label>
                    <div class="col-md-10" style="width:100px; margin-left:-10px">
                        @Html.EditorFor(model => model._17, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model._17, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="Vis_OS_18" style="width: 100px; margin-left: 27px; ">VIS OS</label>
                    <div class="col-md-10" style="width:100px; margin-right:-20px">
                        @Html.EditorFor(model => model.Vis_OS_18, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Vis_OS_18, "", new { @class = "text-danger" })
                    </div>

                    <label class="control-label col-md-2" for="sph_19" style="width: 10px; padding-right:20px ">sph</label>
                    <div class="col-md-10" style="width:100px; margin-right:-20px">
                        @Html.EditorFor(model => model.sph_19, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.sph_19, "", new { @class = "text-danger" })
                    </div>

                    <label class="control-label col-md-2" for="cyl_20" style="width: 10px; padding-right:20px ">cyl</label>
                    <div class="col-md-10" style="width:100px; margin-right:-20px">
                        @Html.EditorFor(model => model.cyl_20, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.cyl_20, "", new { @class = "text-danger" })
                    </div>

                    <label class="control-label col-md-2" for="ax_21" style="width: 10px; padding-right:20px">ax</label>
                    <div class="col-md-10" style="width:100px; margin-right:-20px">
                        @Html.EditorFor(model => model.ax_21, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ax_21, "", new { @class = "text-danger" })
                    </div>

                    <label class="control-label col-md-2" for="_22" style="width: 5px;">=</label>
                    <div class="col-md-10" style="width:100px; margin-left:-10px">
                        @Html.EditorFor(model => model._22, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model._22, "", new { @class = "text-danger" })
                    </div>
                </div>
                <font size="4">
                    <b>
                        Офтальмометрия
                    </b>
                </font> <br />
                <div class="form-group">
                    <label class="control-label col-md-2">OD</label>
                    <label class="control-label col-md-2" style="margin-left:128px;">OS</label>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="ax_26" style="width: 100px; margin-left: 27px; ">ax</label>
                    <div class="col-md-10" style="width:100px; margin-right:-20px">
                        @Html.EditorFor(model => model.ax_26, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ax_26, "", new { @class = "text-danger" })
                    </div>

                    <label class="control-label col-md-2" for="diopt_27" style="width: 10px; padding-right:30px">diopt</label>
                    <div class="col-md-10" style="width:100px; margin-right:-20px">
                        @Html.EditorFor(model => model.diopt_27, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.diopt_27, "", new { @class = "text-danger" })
                    </div>

                    <label class="control-label col-md-2" for="ax_28" style="width: 10px; padding-right:20px">ax</label>
                    <div class="col-md-10" style="width:100px; margin-right:-20px">
                        @Html.EditorFor(model => model.ax_28, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ax_28, "", new { @class = "text-danger" })
                    </div>

                    <label class="control-label col-md-2" for="diopt_29" style="width: 10px; padding-right:30px">diopt</label>
                    <div class="col-md-10" style="width:100px; margin-right:-20px">
                        @Html.EditorFor(model => model.diopt_29, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.diopt_29, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="ax_30" style="width: 100px; margin-left: 27px; ">ax</label>
                    <div class="col-md-10" style="width:100px; margin-right:-20px">
                        @Html.EditorFor(model => model.ax_30, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ax_30, "", new { @class = "text-danger" })
                    </div>

                    <label class="control-label col-md-2" for="diopt_31" style="width: 10px; padding-right:30px">diopt</label>
                    <div class="col-md-10" style="width:100px; margin-right:-20px">
                        @Html.EditorFor(model => model.diopt_31, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.diopt_31, "", new { @class = "text-danger" })
                    </div>

                    <label class="control-label col-md-2" for="diopt_31" style="width: 10px; padding-right:20px">ax</label>
                    <div class="col-md-10" style="width:100px; margin-right:-20px">
                        @Html.EditorFor(model => model.ax_32, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ax_32, "", new { @class = "text-danger" })
                    </div>

                    <label class="control-label col-md-2" for="diopt_33" style="width: 10px; padding-right:30px">diopt</label>
                    <div class="col-md-10" style="width:100px; margin-right:-20px">
                        @Html.EditorFor(model => model.diopt_33, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.diopt_33, "", new { @class = "text-danger" })
                    </div>
                </div>
                <font size="4">
                    <b>
                        Авторефректометрия (узкий зрачок)
                    </b>
                </font> <br />
                <div class="form-group">
                    <label class="control-label col-md-2" for="OD_sph_35" style="width: 100px; margin-left: 27px; ">DO sph</label>
                    <div class="col-md-10" style="width:100px; margin-right:-20px">
                        @Html.EditorFor(model => model.OD_sph_35, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.OD_sph_35, "", new { @class = "text-danger" })
                    </div>

                    <label class="control-label col-md-2" for="cyl_36" style="width: 100px; margin-left: 27px; ">cyl</label>
                    <div class="col-md-10" style="width:100px; margin-right:-20px">
                        @Html.EditorFor(model => model.cyl_36, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.cyl_36, "", new { @class = "text-danger" })
                    </div>

                    <label class="control-label col-md-2" for="ax_37" style="width: 100px; margin-left: 27px; ">ax:</label>
                    <div class="col-md-10" style="width:100px; margin-right:-20px">
                        @Html.EditorFor(model => model.ax_37, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ax_37, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="OS_sph_38" style="width: 100px; margin-left: 27px; ">OS sph</label>
                    <div class="col-md-10" style="width:100px; margin-right:-20px">
                        @Html.EditorFor(model => model.OS_sph_38, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.OS_sph_38, "", new { @class = "text-danger" })
                    </div>

                    <label class="control-label col-md-2" for="cyl_39" style="width: 100px; margin-left: 27px; ">cyl</label>
                    <div class="col-md-10" style="width:100px; margin-right:-20px">
                        @Html.EditorFor(model => model.cyl_39, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.cyl_39, "", new { @class = "text-danger" })
                    </div>

                    <label class="control-label col-md-2" for="ax_40" style="width: 100px; margin-left: 27px; ">ax:</label>
                    <div class="col-md-10" style="width:100px; margin-right:-20px">
                        @Html.EditorFor(model => model.ax_40, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ax_40, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="midriaz_41" style="width: 100px; margin-left: 27px; ">Мидриаз:</label>
                    <div class="col-md-10" style="width:130px; margin-top:7px">
                        <select id="midriaz_41" name="midriaz_41">
                            <option value="-">-</option>
                            <option value="Sol.Midriacil 0.5%">Sol.Midriacil 0.5%</option>
                            <option value="Sol.Midriacil 1%">Sol.Midriacil 1%</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.midriaz_41, "", new { @class = "text-danger" })
                    </div>
                </div>
                <font size="4">
                    <b>
                        Скиаскопия:
                    </b>
                </font> <br />
                <div class="form-group">
                    <label class="control-label col-md-2" for="uzkij_zrachok_45" style="width: 100px;  ">Узкий зрачок:</label>
                    <div class="col-md-10" style="width:50px;margin-left: 27px; margin-top:7px">
                        <select id="uzkij_zrachok_45" value="-" name="uzkij_zrachok_45">
                            <option value="-">-</option>
                            <option value="Да">Да</option>
                            <option value="Нет">Нет</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.uzkij_zrachok_45, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="SolMidriacil_05_48" style="width: 180px; margin-left: -53px; ">Sol Midriacil 0.5%:</label>
                    <div class="col-md-10" style="width:50px; margin-top:7px">
                        <select id="SolMidriacil_05_48" value="-" name="SolMidriacil_05_48">
                            <option value="-">-</option>
                            <option value="Да">Да</option>
                            <option value="Нет">Нет</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.SolMidriacil_05_48, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="SolMidriacil_1_51" style="width: 180px; margin-left: -53px; ">Sol Midriacil 0.1%:</label>
                    <div class="col-md-10" style="width:50px; margin-top:7px">
                        <select id="SolMidriacil_1_51" value="-" name="SolMidriacil_1_51">
                            <option value="-">-</option>
                            <option value="Да">Да</option>
                            <option value="Нет">Нет</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.SolMidriacil_1_51, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="OD_54" style="width: 100px; margin-left: 27px; ">OD: </label>
                    <div class="col-md-10" style="width:150px; margin-right:-20px">
                        @Html.EditorFor(model => model.OD_54, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.OD_54, "", new { @class = "text-danger" })
                    </div>

                    <label class="control-label col-md-2" for="OS_56" style="width: 100px; margin-left: 27px; ">OS: </label>
                    <div class="col-md-10" style="width:150px; margin-right:-20px">
                        @Html.EditorFor(model => model.OS_56, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.OS_56, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-2" style="margin-left:-17px;">
                        |
                        <br>
                        |
                        <br>
                        |
                        <br>
                        |
                        <br>
                        |
                        <br>
                        |
                        <br>
                        |
                        <br>
                    </div>
                    <div class="col-md-10" style="width:150px; margin-left:220px">
                        |
                        <br>
                        |
                        <br>
                        |
                        <br>
                        |
                        <br>
                        |
                        <br>
                        |
                        <br>
                        |
                        <br>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="____55" style="width: 100px; margin-left: 55px; ">______: </label>
                    <div class="col-md-10" style="width:150px; margin-right:-20px">
                        @Html.EditorFor(model => model.____55, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.____55, "", new { @class = "text-danger" })
                    </div>

                    <label class="control-label col-md-2" for="____57" style="width: 100px; margin-left: 27px; ">______: </label>
                    <div class="col-md-10" style="width:150px; margin-right:-20px">
                        @Html.EditorFor(model => model.____57, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.____57, "", new { @class = "text-danger" })
                    </div>
                </div>

                <font size="4">
                    <b>
                        Бинокулярные функции
                    </b>
                </font> <br />
                <div class="form-group">
                    <label class="control-label col-md-2" for="po_girwbergu_bo_59" style="width: 180px; margin-left: -45px; ">По Гиршбергу б\о: </label>
                    <div class="col-md-10" style="width:150px;">
                        @Html.EditorFor(model => model.po_girwbergu_bo_59, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.po_girwbergu_bo_59, "", new { @class = "text-danger" })

                    </div>
                    <div class="col-md-10" style="width:150px;">
                        @Html.EditorFor(model => model.__60, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.__60, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="po_girwbergu_vo_61" style="width:180px; margin-left:-45px;">По Гиршбергу в\о: </label>
                    <div class="col-md-10" style="width:150px;">
                        @Html.EditorFor(model => model.po_girwbergu_vo_61, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.po_girwbergu_vo_61, "", new { @class = "text-danger" })

                    </div>
                    <div class="col-md-10" style="width:150px;">
                        @Html.EditorFor(model => model.__62, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.__62, "", new { @class = "text-danger" })
                    </div>
                </div>
                <font size="4">
                    <b>
                        Характер зрения
                    </b>
                </font> <br />
                <div class="form-group">
                    <label class="control-label col-md-2" for="cm__vo_64_33" style="width:180px; margin-left:-45px;">33cm ---- в/o: </label>
                    <div class="col-md-10" style="width:150px; margin-top:7px">
                        <select id="cm__vo_64_33" value="-" name="cm__vo_64_33">
                            <option value="-">-</option>
                            <option value="бинокулярное">бинокулярное</option>
                            <option value="монокулярное ОД">монокулярное ОД</option>
                            <option value="монокулярное ОS">монокулярное ОS</option>
                            <option value="альтернирующее">альтернирующее</option>
                            <option value="Одновременное">Одновременное</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.cm__vo_64_33, "", new { @class = "text-danger" })
                    </div>

                    <label class="control-label col-md-2" for="bo_70">б/o: </label>
                    <div class="col-md-10" style="width:150px; margin-top:7px">
                        <select id="bo_70" value="-" name="bo_70">
                            <option value="-">-</option>
                            <option value="бинокулярное">бинокулярное</option>
                            <option value="монокулярное ОД">монокулярное ОД</option>
                            <option value="монокулярное ОS">монокулярное ОS</option>
                            <option value="альтернирующее">альтернирующее</option>
                            <option value="Одновременное">Одновременное</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.bo_70, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="m__vo_76_1" style="width:180px; margin-left:-45px;">1m ------- в/o: </label>
                    <div class="col-md-10" style="width:150px; margin-top:7px">
                        <select id="m__vo_76_1" value="-" name="m__vo_76_1">
                            <option value="-">-</option>
                            <option value="бинокулярное">бинокулярное</option>
                            <option value="монокулярное ОД">монокулярное ОД</option>
                            <option value="монокулярное ОS">монокулярное ОS</option>
                            <option value="альтернирующее">альтернирующее</option>
                            <option value="Одновременное">Одновременное</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.m__vo_76_1, "", new { @class = "text-danger" })
                    </div>

                    <label class="control-label col-md-2" for="bo_82">б/o: </label>
                    <div class="col-md-10" style="width:150px; margin-top:7px">
                        <select id="bo_82" value="-" name="bo_82">
                            <option value="-">-</option>
                            <option value="бинокулярное">бинокулярное</option>
                            <option value="монокулярное ОД">монокулярное ОД</option>
                            <option value="монокулярное ОS">монокулярное ОS</option>
                            <option value="альтернирующее">альтернирующее</option>
                            <option value="Одновременное">Одновременное</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.bo_82, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="m__vo_88_5" style="width:180px; margin-left:-45px;">5m ------- в/o: </label>
                    <div class="col-md-10" style="width:150px; margin-top:7px">
                        <select id="m__vo_88_5" value="-" name="m__vo_88_5">
                            <option value="-">-</option>
                            <option value="бинокулярное">бинокулярное</option>
                            <option value="монокулярное ОД">монокулярное ОД</option>
                            <option value="монокулярное ОS">монокулярное ОS</option>
                            <option value="альтернирующее">альтернирующее</option>
                            <option value="Одновременное">Одновременное</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.m__vo_88_5, "", new { @class = "text-danger" })
                    </div>

                    <label class="control-label col-md-2" for="bo_94">б/o: </label>
                    <div class="col-md-10" style="width:150px; margin-top:7px">
                        <select id="bo_94" value="-" name="bo_94">
                            <option value="-">-</option>
                            <option value="бинокулярное">бинокулярное</option>
                            <option value="монокулярное ОД">монокулярное ОД</option>
                            <option value="монокулярное ОS">монокулярное ОS</option>
                            <option value="альтернирующее">альтернирующее</option>
                            <option value="Одновременное">Одновременное</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.bo_94, "", new { @class = "text-danger" })
                    </div>
                </div>
                <font size="4">
                    <b>
                        Синоптофор
                    </b>
                </font> <br />
                <div class="form-group">
                    <label class="control-label col-md-2" for="bo_ou_101" style="width:180px; margin-left:-45px;">б\о ОУ: </label>
                    <div class="col-md-10" style="width:150px;">
                        @Html.EditorFor(model => model.bo_ou_101, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.bo_ou_101, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-10" style="width:150px;">
                        @Html.EditorFor(model => model.__102, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.__102, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="su_103" style="width:180px; margin-left:-45px;">СУ: </label>
                    <div class="col-md-10" style="width:150px;">
                        @Html.EditorFor(model => model.su_103, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.su_103, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-10" style="width:150px;">
                        @Html.EditorFor(model => model.__104, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.__104, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="vo_ou_105" style="width:180px; margin-left:-45px;">в\о ОУ: </label>
                    <div class="col-md-10" style="width:150px;">
                        @Html.EditorFor(model => model.vo_ou_105, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.vo_ou_105, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-10" style="width:150px;">
                        @Html.EditorFor(model => model.__106, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.__106, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="su_107" style="width:180px; margin-left:-45px;">СУ: </label>
                    <div class="col-md-10" style="width:150px;">
                        @Html.EditorFor(model => model.su_107, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.su_107, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-10" style="width:150px;">
                        @Html.EditorFor(model => model.__108, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.__108, "", new { @class = "text-danger" })
                    </div>
                </div>


                <font size="4">
                    <b>
                        Исследование относительной аккомодации
                    </b>
                </font> <br />
                <div class="form-group">
                    <label class="control-label col-md-2" for="zapas_akkomodacii_110" style="width: 180px; margin-left: -45px; ">Запас аккомодации:</label>
                    <div class="col-md-10" style="width:150px; margin-right:-20px">
                        @Html.EditorFor(model => model.zapas_akkomodacii_110, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.zapas_akkomodacii_110, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="izrashodovannaya_chast_111" style="width: 180px; margin-left: -45px; ">Израсходованная часть:</label>
                    <div class="col-md-10" style="width:150px; margin-right:-20px">
                        @Html.EditorFor(model => model.izrashodovannaya_chast_111, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.izrashodovannaya_chast_111, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="obem_akkomodacii_122" style="width: 180px; margin-left: -45px; ">Объем аккомодации:</label>
                    <div class="col-md-10" style="width:150px; margin-right:-20px">
                        @Html.EditorFor(model => model.obem_akkomodacii_122, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.obem_akkomodacii_122, "", new { @class = "text-danger" })
                    </div>
                </div>

                <font size="4">
                    <b>
                        Экзофтальмометрия
                    </b>
                </font> <br />
                <div class="form-group">
                    <label class="control-label col-md-2" for="OD_114" style="width: 100px; margin-left: 27px; ">OD:</label>
                    <div class="col-md-10" style="width:140px; margin-right:-20px">
                        @Html.EditorFor(model => model.OD_114, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.OD_114, "", new { @class = "text-danger" })
                    </div>
                    <span style="float:left;padding-left:10px;"> мм</span>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="OS_116" style="width: 100px; margin-left: 27px; ">OS:</label>
                    <div class="col-md-10" style="width:140px; margin-right:-20px">
                        @Html.EditorFor(model => model.OS_116, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.OS_116, "", new { @class = "text-danger" })
                    </div>
                    <span style="float:left; padding-left:10px;"> мм</span>
                </div>


                <font size="4">
                    <b>
                        Определение критической частоты слияния мельканий
                    </b>
                </font> <br />
                <div class="form-group">
                    <label class="control-label col-md-2" for="OD_norma_119" style="width: 180px; margin-left: -52px; ">OD норма:</label>
                    <div class="col-md-10" style="width:140px; margin-right:-20px">
                        @Html.EditorFor(model => model.OD_norma_119, new { htmlAttributes = new { @class = "form-control", @value = "42Ghz" } })
                        @Html.ValidationMessageFor(model => model.OD_norma_119, "", new { @class = "text-danger" })
                    </div>

                    <label class="control-label col-md-2" for="OS_norma_120" style="width: 180px; margin-left: -45px; ">OS норма:</label>
                    <div class="col-md-10" style="width:140px; margin-right:-20px">
                        @Html.EditorFor(model => model.OS_norma_120, new { htmlAttributes = new { @class = "form-control", @value = "42Ghz" } })
                        @Html.ValidationMessageFor(model => model.OS_norma_120, "", new { @class = "text-danger" })
                    </div>
                </div>


                <font size="4">
                    <b>
                        Пороги электрической чувствительности и лабильности
                    </b>
                </font> <br />
                <div class="form-group">
                    <label class="control-label col-md-2" for="OD_norma_122" style="width: 180px; margin-left: -45px; ">OD норма:</label>
                    <div class="col-md-10" style="width:140px; margin-right:-20px">
                        @Html.EditorFor(model => model.OD_norma_122, new { htmlAttributes = new { @class = "form-control", @value = "35 mkA" } })
                        @Html.ValidationMessageFor(model => model.OD_norma_122, "", new { @class = "text-danger" })
                    </div>

                    <label class="control-label col-md-2" for="OS_norma_123" style="width: 180px; margin-left: -45px; ">OS норма:</label>
                    <div class="col-md-10" style="width:140px; margin-right:-20px">
                        @Html.EditorFor(model => model.OS_norma_123, new { htmlAttributes = new { @class = "form-control", @value = "35 mkA" } })
                        @Html.ValidationMessageFor(model => model.OS_norma_123, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="issledovanie_temnovoj_adaptacii_norma_124" style="width: 367px;">Исследование темновой адаптации: норма:</label>
                    <div class="col-md-10" style="width:140px; margin-right:-20px">
                        @Html.EditorFor(model => model.issledovanie_temnovoj_adaptacii_norma_124, new { htmlAttributes = new { @class = "form-control", @value = "30 секунд, голубой" } })
                        @Html.ValidationMessageFor(model => model.issledovanie_temnovoj_adaptacii_norma_124, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="opredelenie_polya_vzora_norma_125" style="width: 367px;">Определение поля взора: норма:</label>
                    <div class="col-md-10" style="width:140px; margin-right:-20px">
                        @Html.EditorFor(model => model.opredelenie_polya_vzora_norma_125, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.opredelenie_polya_vzora_norma_125, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="opredelenie_cvetooschuscheniya_norma_126" style="width: 367px;">Определение цветоощущения: норма:</label>
                    <div class="col-md-10" style="width:140px; margin-right:-20px">
                        @Html.EditorFor(model => model.opredelenie_cvetooschuscheniya_norma_126, new { htmlAttributes = new { @class = "form-control", @value = "нормальная трихромазия" } })
                        @Html.ValidationMessageFor(model => model.opredelenie_cvetooschuscheniya_norma_126, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="dvizheniya_glaznih_yablok_127" style="width: 367px; ">Движения глазных яблок:</label>
                    <div class="col-md-10" style="width:100px; margin-right:-20px; margin-top:7px;">
                        <select id="dvizheniya_glaznih_yablok_127" value="-" name="dvizheniya_glaznih_yablok_127">
                            <option value="-">-</option>
                            <option value="в полном объеме">в полном объеме</option>
                            <option value="ограничено">ограничено</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.dvizheniya_glaznih_yablok_127, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-10" style="width:140px; margin-left:70px">
                        @Html.EditorFor(model => model.__130, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.__130, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="nistagm_131" style="width: 100px; margin-left: 27px;  ">Нистагм:</label>
                    <div class="col-md-10" style="width:50px; margin-top:7px;">
                        <select id="nistagm_131" value="-" name="nistagm_131">
                            <option value="-">-</option>
                            <option value="да">да</option>
                            <option value="нет">нет</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.nistagm_131, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-10" style="width:185px; margin-right:-20px;margin-top:7px;">
                        <select id="__134" value="-" name="__134">
                            <option value="-">-</option>
                            <option value="мелкокалиберный">мелкокалиберный</option>
                            <option value="среднекалиберный">среднекалиберный</option>
                            <option value="крупнокалиберный">крупнокалиберный</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.__134, "", new { @class = "text-danger" })
                    </div>


                    <div class="col-md-10" style="width:185px; margin-right:-20px; margin-top:7px;">
                        <select id="__138" value="-" name="__138">
                            <option value="-">-</option>
                            <option value="высокоамплитудный">высокоамплитудный</option>
                            <option value="среднеамплитудный">среднеамплитудный</option>
                            <option value="мелкоамплитудный">мелкоамплитудный</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.__138, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-10" style="width:185px; margin-right:-20px; margin-top:7px;">
                        <select id="__142" value="-" name="__142">
                            <option value="-">-</option>
                            <option value="ундулирующий">ундулирующий</option>
                            <option value="толчкообразный">толчкообразный</option>
                            <option value="ротаторный">ротаторный</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.__142, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    s
                    <label class="control-label col-md-2" for="konvergenciya_146" style="width: 180px;margin-left: -53px;">Конвергенция:</label>
                    <div class="col-md-10" style="width:185px; margin-right:-20px; margin-top:7px;">
                        <select id="konvergenciya_146" value="-" name="konvergenciya_146">
                            <option value="-">-</option>
                            <option value="удовлетворительная">удовлетворительная</option>
                            <option value="ослаблена">ослаблена</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.konvergenciya_146, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="konvergenciya_146" style="width: 180px;margin-left: -53px;">Наличие диплопии:</label>
                    <div class="col-md-10" style="width:50px;margin-top:7px; ">

                        <select id="nalichie_diplopii_149" value="нет" name="nalichie_diplopii_149">
                            <option value="-">-</option>
                            <option value="да">да</option>
                            <option selected="" value="нет">нет</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.nalichie_diplopii_149, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="proverka_ravnodejstviya_glaznih_miwc_na_vibor_152" style="width: 393px; margin-left:-7px; ">Проверка равнодействия глазных мышц на выбор:</label>
                    <div class="col-md-10" style="width:50px;margin-top:7px; ">

                        <select id="proverka_ravnodejstviya_glaznih_miwc_na_vibor_152" value="-" name="proverka_ravnodejstviya_glaznih_miwc_na_vibor_152">
                            <option value="-">-</option>
                            <option value="да">да</option>
                            <option value="нет">нет</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.proverka_ravnodejstviya_glaznih_miwc_na_vibor_152, "", new { @class = "text-danger" })
                    </div>
                </div>

                <font size="4">
                    <b>
                        OU
                    </b>
                </font> <br />
                <div class="form-group">
                    <label class="control-label col-md-2" for="polozhenie_vek_156" style="width: 180px; margin-left: -45px; ">Положение век:</label>
                    <div class="col-md-10" style="width:140px; margin-right:-20px; margin-top:7px;">
                        <select id="polozhenie_vek_156" value="правильное" name="polozhenie_vek_156">
                            <option value="-">-</option>
                            <option selected="" value="правильное">правильное</option>
                            <option value="птоз">птоз</option>
                            <option value="лагофтальм">лагофтальм</option>
                            <option value="неполное">неполное</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.polozhenie_vek_156, "", new { @class = "text-danger" })
                    </div>

                    <label class="control-label col-md-2" for="smikanie_glaznoj_scheli_161" style="width: 260px; margin-left: -45px; ">смыкание глазной щели:</label>
                    <div class="col-md-10" style="width:120px; margin-right:-20px; margin-top:7px;">
                        <select id="smikanie_glaznoj_scheli_161" value="полное" name="smikanie_glaznoj_scheli_161">
                            <option value="-">-</option>
                            <option selected="" value="полное">полное</option>
                            <option value="неполное">неполное</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.smikanie_glaznoj_scheli_161, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-10" style="width:100px; margin-right:-20px">
                        @Html.EditorFor(model => model.__164, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.__164, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="konjunktiva_165" style="width: 180px; margin-left: -45px; ">Конъюнктива:</label>
                    <div class="col-md-10" style="width:150px; margin-right:-20px; margin-top:7px;">
                        <select id="konjunktiva_165" value="бледно-розовая" name="konjunktiva_165">
                            <option value="-">-</option>
                            <option selected="" value="бледно-розовая">бледно-розовая</option>
                            <option value="смешанная инъекция">смешанная инъекция</option>
                            <option value="перикорнеальная инъекция">перикорнеальная инъекция</option>
                            <option value="химоз">химоз</option>
                            <option value="послеоперационный рубец">послеоперационный рубец</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.konjunktiva_165, "", new { @class = "text-danger" })
                    </div>


                    <div class="col-md-10" style="width:140px; margin-left:90px">
                        @Html.EditorFor(model => model.__171, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.__171, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="oblast_sleznogo_mewka_172" style="width: 180px; margin-left: -45px; ">Область слезного мешка:</label>
                    <div class="col-md-10" style="width:150px; margin-right:-20px; margin-top:7px;">
                        <select id="oblast_sleznogo_mewka_172" value="не изменена" name="oblast_sleznogo_mewka_172">
                            <option value="-">-</option>
                            <option selected="" value="не изменена">не изменена</option>
                            <option value="гиперемирована">гиперемирована</option>
                            <option value="отечна">отечна</option>
                            <option value="свищ">свищ</option>
                            <option value="эктазия">эктазия</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.oblast_sleznogo_mewka_172, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="otdelyaemoe_178" style="width: 180px; margin-left: -45px; ">Отделяемое:</label>
                    <div class="col-md-10" style="width:160px; margin-right:-20px; margin-top:7px;">
                        <select id="otdelyaemoe_178" value="нет" name="otdelyaemoe_178">
                            <option value="-">-</option>
                            <option selected="" value="нет">нет</option>
                            <option value="обильное">обильное</option>
                            <option value="незначительное">незначительное</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.otdelyaemoe_178, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-10" style="width:170px; margin-right:-20px; margin-top:7px;">
                        <select id="otdelyaemoe_2_182" value="-" name="otdelyaemoe_2_182">
                            <option value="-">-</option>
                            <option value="слизистое">слизистое</option>
                            <option value="слизисто-гнойное">слизисто-гнойное</option>
                            <option value="сукровичное">сукровичное</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.otdelyaemoe_2_182, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-10" style="width:140px; margin-right:-20px">
                        @Html.EditorFor(model => model.__186, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.__186, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="rogovica_187" style="width: 180px; margin-left: -45px; ">Роговица:</label>
                    <div class="col-md-10" style="width:320px; margin-right:-20px; margin-top:7px;">
                        <select id="rogovica_187" value="прозрачная, сферичная, зеркальная, блестящая, гладкая" name="rogovica_187">
                            <option value="-">-</option>
                            <option selected="" value="прозрачная, сферичная, зеркальная, блестящая, гладкая">прозрачная, сферичная, зеркальная, блестящая, гладкая</option>
                            <option value="чувствительность повышена">чувствительность повышена</option>
                            <option value="помутнения">помутнения</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.rogovica_187, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-10" style="width:140px; margin-right:-20px">
                        @Html.EditorFor(model => model.__191, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.__191, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="fljuoresceinovaya_instillyacionnaya_proba_norma_192" style="width: 410px; margin-left: -45px; ">Флюоресцеиновая инстилляционная проба: норма:</label>
                    <div class="col-md-10" style="width:50px;margin-top:7px;">
                        <select id="fljuoresceinovaya_instillyacionnaya_proba_norma_192" value="-" name="fljuoresceinovaya_instillyacionnaya_proba_norma_192">
                            <option value="-">-</option>
                            <option value="Да">Да</option>
                            <option value="Нет">Нет</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.fljuoresceinovaya_instillyacionnaya_proba_norma_192, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="perednyaya_kamera_199" style="width: 180px; margin-left: -45px; ">Передняя камера:</label>
                    <div class="col-md-10" style="width:150px; margin-right:-20px;margin-top:7px;">
                        <select id="perednyaya_kamera_199" value="средней глубины" name="perednyaya_kamera_199">
                            <option value="-">-</option>
                            <option value="мелкая">мелкая</option>
                            <option selected="" value="средней глубины">средней глубины</option>
                            <option value="глубокая">глубокая</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.perednyaya_kamera_199, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="vlaga_perednej_kameri_203" style="width: 180px; margin-left: -45px; ">Влага передней камеры:</label>
                    <div class="col-md-10" style="width:150px; margin-right:-20px;margin-top:7px;">
                        <select id="vlaga_perednej_kameri_203" value="прозрачна" name="vlaga_perednej_kameri_203">
                            <option value="-">-</option>
                            <option selected="" value="прозрачна">прозрачна</option>
                            <option value="изменена">изменена</option>
                            <option value="гифема">гифема</option>
                            <option value="гипопион">гипопион</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.vlaga_perednej_kameri_203, "", new { @class = "text-danger" })
                    </div>


                    <div class="col-md-10" style="width:140px; margin-right:-20px">
                        @Html.EditorFor(model => model.kommentarij_208, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.kommentarij_208, "", new { @class = "text-danger" })
                    </div>
                    <span style="float:left;padding-left:10px;"> мм</span>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="raduzhka_210" style="width: 180px; margin-left: -45px; ">Радужкаx:</label>
                    <div class="col-md-10" style="width:240px; margin-right:-20px; margin-top:7px;">
                        <select id="raduzhka_210" value="структурна" name="raduzhka_210">
                            <option value="-">-</option>
                            <option selected="" value="структурна">структурна</option>
                            <option value="рисунок стушеван">рисунок стушеван</option>
                            <option value="гетерохромия">гетерохромия</option>
                            <option value="дистрофия">дистрофия</option>
                            <option value="выворот пигментной каймы">выворот пигментной каймы</option>
                            <option value="иридодонез">иридодонез</option>
                            <option value="неоваскуляризация">неоваскуляризация</option>
                            <option value="новообразование">новообразование</option>
                            <option value="бомбаж">бомбаж</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.raduzhka_210, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-10" style="width:140px; margin-right:-20px">
                        @Html.EditorFor(model => model.kommentarij_220, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.kommentarij_220, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="zrachok_221" style="width: 180px; margin-left: -45px; ">Зрачокx:</label>
                    <div class="col-md-10" style="width:200px; margin-right:-20px; margin-top:7px;">
                        <select id="zrachok_221" value="округлый" name="zrachok_221">
                            <option value="-">-</option>
                            <option selected="" value="округлый">округлый</option>
                            <option value="деформирован">деформирован</option>
                            <option value="эксцентричен">эксцентричен</option>
                            <option value="задние">задние</option>
                            <option value="анизокория">анизокория</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.zrachok_221, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-10" style="width:140px; margin-right:-20px">
                        @Html.EditorFor(model => model.kommentarij_227, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.kommentarij_227, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="reakciya_zrachka_na_svet_pryamaya_228" style="width: 180px; margin-left: -45px; ">Реакция зрачка на свет: прямаяx:</label>
                    <div class="col-md-10" style="width:125px; margin-right:-20px; margin-top:7px;">
                        <select id="reakciya_zrachka_na_svet_pryamaya_228" value="живая" name="reakciya_zrachka_na_svet_pryamaya_228">
                            <option value="-">-</option>
                            <option selected="" value="живая">живая</option>
                            <option value="замедлена">замедлена</option>
                            <option value="отсутствует">отсутствует</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.reakciya_zrachka_na_svet_pryamaya_228, "", new { @class = "text-danger" })
                    </div>

                    <label class="control-label col-md-2" for="sodruzhestvennaya_232" style="width: 220px; margin-left: -45px; ">содружественная:</label>
                    <div class="col-md-10" style="width:100px; margin-right:-20px; margin-top:7px;">
                        <select id="sodruzhestvennaya_232" value="живая" name="sodruzhestvennaya_232">
                            <option value="-">-</option>
                            <option selected="" value="живая">живая</option>
                            <option value="замедлена">замедлена</option>
                            <option value="отсутствует">отсутствует</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.sodruzhestvennaya_232, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="hrustalik_236" style="width: 180px; margin-left: -45px; ">Хрусталик:</label>
                    <div class="col-md-10" style="width:140px; margin-right:-20px; margin-top: 7px;">
                        <select id="hrustalik_236" value="прозрачный" name="hrustalik_236">
                            <option value="-">-</option>
                            <option selected="" value="прозрачный">прозрачный</option>
                            <option value="помутнения">помутнения</option>
                            <option value="афакия">афакия</option>
                            <option value="артифакия">артифакия</option>
                            <option value="подвывих">подвывих</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.hrustalik_236, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-10" style="width:140px; margin-right:-20px">
                        @Html.EditorFor(model => model.kommentarij_242, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.kommentarij_242, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="steklovidnoe_telo_243" style="width: 180px; margin-left: -45px; ">Стекловидное тело:</label>
                    <div class="col-md-10" style="width:250px; margin-right:-20px; margin-top:7px;">
                        <select id="steklovidnoe_telo_243" value="прозрачно, структурно" name="steklovidnoe_telo_243">
                            <option value="-">-</option>
                            <option selected="" value="прозрачно, структурно">прозрачно, структурно</option>
                            <option value="плавающие помутнения">плавающие помутнения</option>
                            <option value="фиксированные помутнения">фиксированные помутнения</option>
                            <option value="гемофтальм">гемофтальм</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.steklovidnoe_telo_243, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-10" style="width:140px; margin-right:-20px">
                        @Html.EditorFor(model => model.kommentarij_248, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.kommentarij_248, "", new { @class = "text-danger" })
                    </div>
                </div>

                <font size="4">
                    <b>
                        Глазное дно
                    </b>
                </font> <br />
                <div class="form-group">
                    <label class="control-label col-md-2" for="dzn_250" style="width: 180px; margin-left: -45px; ">ДЗН:</label>
                    <div class="col-md-10" style="width:165px; margin-right:-30px; margin-top:7px;">
                        <select id="dzn_250" value="бледно-розовый" name="dzn_250">
                            <option value="-">-</option>
                            <option selected="" value="бледно-розовый">бледно-розовый</option>
                            <option value="бледный">бледный</option>
                            <option value="деколорирован">деколорирован</option>
                            <option value="гиперемирован">гиперемирован</option>
                            <option value="проминирует">проминирует</option>
                            <option value="экскавация">экскавация</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.dzn_250, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-10" style="width:100px; margin-right:-20px">
                        @Html.EditorFor(model => model.kommentarij_257, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.kommentarij_257, "", new { @class = "text-danger" })
                    </div>

                    <label class="control-label col-md-2" for="granici_258" style="width: 180px; margin-left: -45px; ">границы:</label>
                    <div class="col-md-10" style="width:172px; margin-right:-20px; margin-top:7px;">
                        <select id="granici_258" value="четкие" name="granici_258">
                            <option value="-">-</option>
                            <option selected="" value="четкие">четкие</option>
                            <option value="стушеваны">стушеваны</option>
                            <option value="пигментная кайма">пигментная кайма</option>
                            <option value="миопический конус">миопический конус</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.granici_258, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-10" style="width:100px; margin-right:-20px">
                        @Html.EditorFor(model => model.kommentarij_263, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.kommentarij_263, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="arterii_i_veni_264" style="width: 180px; margin-left: -45px; ">Артерии и вены:</label>
                    <div class="col-md-10" style="width:140px; margin-right:-20px; margin-top:7px;">
                        <select id="arterii_i_veni_264" value="среднего калибра" name="arterii_i_veni_264">
                            <option value="-">-</option>
                            <option selected="" value="среднего калибра">среднего калибра</option>
                            <option value="полнокровны">полнокровны</option>
                            <option value="извитые">извитые</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.arterii_i_veni_264, "", new { @class = "text-danger" })
                    </div>

                    <label class="control-label col-md-2" for="hod_268" style="width: 180px; margin-left: -45px; ">ход:</label>
                    <div class="col-md-10" style="width:140px; margin-right:-20px; margin-top:7px;">
                        <select id="268_hod" value="не изменен" name="268_hod">
                            <option value="-">-</option>
                            <option selected="" value="не изменен">не изменен</option>
                            <option value="сдвиг сосудистого пучка к носу">сдвиг сосудистого пучка к носу</option>
                            <option value="сдвиг сосудистого пучка к виску">сдвиг сосудистого пучка к виску</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.hod_268, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="hod_268" style="width: 180px; margin-left: -45px; ">Макулярная область:</label>
                    <div class="col-md-10" style="width:180px; margin-right:-20px; margin-top:7px;">
                        <select id="makulyarnaya_oblast_272" value="рефлексы четкие" name="makulyarnaya_oblast_272">
                            <option value="-">-</option>
                            <option selected="" value="рефлексы четкие">рефлексы четкие</option>
                            <option value="крапчатость">крапчатость</option>
                            <option value="рефлекс стушеван">рефлекс стушеван</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.makulyarnaya_oblast_272, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-10" style="width:140px; margin-right:-20px">
                        @Html.EditorFor(model => model.kommentarij_276, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.kommentarij_276, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="periferiya_glaznogo_dna_277" style="width: 180px; margin-left: -45px; ">Периферия глазного дна:</label>
                    <div class="col-md-10" style="width:180px; margin-right:-20px; margin-top:7px;">
                        <select id="periferiya_glaznogo_dna_277" value="рефлексы четкие" name="periferiya_glaznogo_dna_277">
                            <option value="-">-</option>
                            <option selected="" value="рефлексы четкие">рефлексы четкие</option>
                            <option value="крапчатость">крапчатость</option>
                            <option value="рефлекс стушеван">рефлекс стушеван</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.periferiya_glaznogo_dna_277, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-10" style="width:140px; margin-right:-20px">
                        @Html.EditorFor(model => model.kommentarij_281, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.kommentarij_281, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="lokalizaciya_razriva_setchatki_282" style="width: 180px; margin-left: -45px; ">Локализация разрыва сетчатки:</label>
                    <div class="col-md-10" style="width:140px; margin-right:-20px; margin-top:7px;">
                        @Html.EditorFor(model => model.lokalizaciya_razriva_setchatki_282, new { htmlAttributes = new { @class = "form-control", @value = "12" } })
                        @Html.ValidationMessageFor(model => model.lokalizaciya_razriva_setchatki_282, "", new { @class = "text-danger" })
                    </div>
                </div>

                <font size="4">
                    <b>
                        Циклоплегия:
                    </b>
                </font> <br />
                <div class="form-group">
                    <div class="col-md-10" style="width:140px; margin-right:-20px; margin-top:15px;">
                        <select id="cikloplegiya_27" value="Sol.Midriacil_1%" name="cikloplegiya_27">
                            <option value="-">-</option>
                            <option value="Sol.Midriacil_0.5%">Sol.Midriacil_0.5%</option>
                            <option selected="" value="Sol.Midriacil_1%">Sol.Midriacil_1%</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.OD_sph_708, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10" style="width:140px; margin-right:-20px">
                        <select id="cikloplegiya_2_30" value="-" name="cikloplegiya_2_30">
                            <option value="-">-</option>
                            <option value="В центре">В центре</option>
                            <option value="На дому">На дому</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.cyl_709, "", new { @class = "text-danger" })
                    </div>
                </div>

                <font size="4">
                    <b>
                        Авторефректометрия (на высоте циклоплегии)
                    </b>
                </font> <br />
                <div class="form-group">
                    <label class="control-label col-md-2" for="OD_sph_708" style="width: 100px; margin-left: 27px; ">DO sph</label>
                    <div class="col-md-10" style="width:100px; margin-right:-20px">
                        @Html.EditorFor(model => model.OD_sph_708, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.OD_sph_35, "", new { @class = "text-danger" })
                    </div>

                    <label class="control-label col-md-2" for="cyl_709" style="width: 100px; margin-left: 27px; ">cyl</label>
                    <div class="col-md-10" style="width:100px; margin-right:-20px">
                        @Html.EditorFor(model => model.cyl_709, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.cyl_36, "", new { @class = "text-danger" })
                    </div>

                    <label class="control-label col-md-2" for="ax_710" style="width: 100px; margin-left: 27px; ">ax:</label>
                    <div class="col-md-10" style="width:100px; margin-right:-20px">
                        @Html.EditorFor(model => model.ax_710, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ax_37, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="OS_sph_38" style="width: 100px; margin-left: 27px; ">OS sph</label>
                    <div class="col-md-10" style="width:100px; margin-right:-20px">
                        @Html.EditorFor(model => model.OS_sph_711, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.OS_sph_711, "", new { @class = "text-danger" })
                    </div>

                    <label class="control-label col-md-2" for="cyl_39" style="width: 100px; margin-left: 27px; ">cyl</label>
                    <div class="col-md-10" style="width:100px; margin-right:-20px">
                        @Html.EditorFor(model => model.cyl_712, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.cyl_712, "", new { @class = "text-danger" })
                    </div>

                    <label class="control-label col-md-2" for="ax_40" style="width: 100px; margin-left: 27px; ">ax:</label>
                    <div class="col-md-10" style="width:100px; margin-right:-20px">
                        @Html.EditorFor(model => model.ax_713, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ax_713, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="zapolnil_714" style="width: 100px; margin-left: 27px; ">заполнил:</label>
                    <div class="col-md-10" style="width:100px; margin-right:-20px">

                        @Html.EditorFor(model => model.zapolnil_714, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.zapolnil_714, "", new { @class = "text-danger" })
                    </div>

                    <label class="control-label col-md-2" for="data_715" style="width: 100px; margin-left: 27px; "> дата:</label>
                    <div class="col-md-10" style="width:100px; margin-right:-20px">

                        @Html.EditorFor(model => model.data_715, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.data_715, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" style="width: 250px; margin-left: 27px; ">Ранее проведенные операции:</label>
                </div>
                <div class="form-group">
                    <div class="col-md-10" style="width:100px; margin-right:-20px">
                        <input id="previous_surgery" class="form-control" size="8" value="" type="text">
                    </div>
                    <div class="col-md-10" style="width:100px; margin-right:-20px">
                        <input class="form-control" style="width: 15cm; height: 3cm;" name="Ранее проведенные операции" value="" type="text" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <input type="button" value="Save" onclick="SaveForm1464314(this);" class="btn btn-default" />
            </div>
        </div>
        <input type="hidden" id="patID" name="patID" value="@ViewBag.PatID" />
    }
</div>