﻿
@using OCManager.Entities.DBEntities;
@model IEnumerable<OCManager.Entities.DBEntities.Appointment>
@{
    ViewBag.Title = "Simple Form";
}
<h2>Назначения по лечению 2012</h2>
<form class="form-horizontal">
    <div style="padding-left:50px;" class="container">
        <div class="row" style="padding-top:30px;">
            <div class="form-group">
                @*@Html.DropDownList("DiscountBonus", (IEnumerable<SelectListItem>)ViewBag.DiscountBonus,
                    "-", new { @class = "selectpicker" })*@
                <label style="width:20%" class="control-label col-sm-2" for="doctors">Добавления к цене :</label>
                @if (ViewBag.isPDF == 1)
                {
                    double di = ViewBag.DiscountIncrease * 100;
                    string ss = Convert.ToString(di) + "%";
                    @ss;
                }
                <div style="width:80%" class="col-md-10">
                    @Html.DropDownList("DiscountIncrease", ((List<Discount>)ViewBag.Discount).Where(a => a.Type == "increase").ToList()
.Select(m => new SelectListItem
{ Text = m.Name, Value = Convert.ToString(m.Value) }), "-",
                 new { @class = "selectpicker test", @onchange = "calculatePrice();" })

                    <div style="width:200px; float:right;">
                        <a style="width:150px;" href="javascript:void(0)"
                           onclick="location.href='@Url.Action("ConfigureForm1247857", "Form",
                          new { id = Request.Url.ToString().Split('=')[1]})'"
                           id="@Request.Url.ToString().Split('=')[1]">Configure Form</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label style="width:20%" class="control-label col-sm-2" for="doctors">Скидки :</label>
                <div style="width:80%" class="col-md-10">
                    @if (ViewBag.isPDF == 1)
                    {
                        double db = ViewBag.DiscountBonus * 100;
                        string ss = Convert.ToString(db) + "%";
                        @ss;
                    }
                    @Html.DropDownList("DiscountBonus", ((List<Discount>)ViewBag.Discount).Where(a => a.Type == "discount" || a.Type == "bonus")
.ToList().Select(m => new SelectListItem
{ Text = m.Name, Value = Convert.ToString(m.Value) }), "-",
                 new { @class = "selectpicker test1", @onchange = "calculatePrice();" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label style="width:20%" class="control-label col-sm-2" for="date">Дата:</label>
                <div style="width:80%" class="col-md-10">
                    <input type="text" class="form-control Calendar" id="txtDate" data-date-format="dd-mm-yyyy" value="@ViewBag.data">
                </div>
            </div>
        </div>
        <table class="table table-bordered pagin-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        Кол-во
                    </th>
                </tr>
            </thead>
            <tbody class="connectedSortable">
                @{ int i = 0; }
                @foreach (var item in Model)
                {
                    string selectID = "select" + i;
                    <tr id="@item.ID">
                        <td style="display:none;">
                            @Html.HiddenFor(modelItem => item.ID)
                        </td>
                        @if (item.Type != "title")
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                        }
                        else
                        {
                            if (item.Name.Contains('_'))
                            {
                                <td style="font-weight:bold">
                                    @item.Name.Split('_')[0];
                                </td>
                            }
                            else
                            {
                                <td style="font-weight:bold">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                            }
                        }
                        @if (item.Type != "title")
                        {
                            if (ViewBag.isPDF == 1)
                            {
                                if (item.Name.Contains('_'))
                                {
                                    <td style="font-weight:bold">
                                        @item.Name.Split('_')[1]
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <select id="@selectID" class="selectlist" onchange="calculatePrice(this);"></select>
                                    </td>
                                }
                            }
                            else
                            {
                                <td>
                                    <select id="@selectID" class="selectlist" onchange="calculatePrice(this);"></select>
                                </td>
                            }
                        }
                        else
                        {
                            <td></td>
                        }
                        @*<td>
                                @Html.DisplayFor(modelItem => item.Form_ID)
                            </td>*@
                        <td style="display:none;">
                            @Html.HiddenFor(modelItem => item.Cost)
                        </td>
                        <td style="display:none;">
                            @Html.HiddenFor(modelItem => item.Second_Treatment_Discount)
                        </td>
                        <td style="display:none;">
                            @Html.HiddenFor(modelItem => item.story_discount)
                        </td>
                        <td style="display:none;">
                            @Html.HiddenFor(modelItem => item.First_Consult_Bonus)
                        </td>
                        <td style="display:none;">
                            @Html.HiddenFor(modelItem => item.Certificate_Payment)
                        </td>
                        <td style="display:none;">
                            @Html.HiddenFor(modelItem => item.Order)
                        </td>
                    </tr>
                    i++;
                }
                <tr>
                    <td></td>
                    <td>
                        Total: <input type="text" id="tot" name="tot" value="@ViewBag.tot" />
                    </td>

                </tr>
            </tbody>
        </table>
        <div class="row">
            <div>
                <button type="button" onclick="Save1247857(this);" id="btnSave1247857" class="btn btn-default">Save</button>
            </div>
            <input type="hidden" id="hdnFdID" name="hdnFdID" value="" />
            <input type="hidden" id="hdnPatID" name="hdnPatID" value="@ViewBag.patID" />

        </div>
    </div>
</form>
<script type="text/javascript">



    jQuery(function () {
        var selectList = {
            "0": "-",
            "1": "1",
            "2": "2",
            "3": "3",
            "4": "4",
            "5": "5",
            "6": "6",
            "7": "7",
            "8": "8",
            "9": "9",
            "10": "10",
            "11": "11",
            "12": "12",
            "13": "13",
            "14": "14",
            "15": "15",
            "16": "16",
            "17": "17",
            "18": "18",
            "19": "19",
            "20": "20"
        };

        if(@ViewBag.GetDiscountBySpend == 1)
        {
            $('select[name=DiscountBonus] option').eq(4).prop('selected', true).trigger('change');
        }
        else if(@ViewBag.GetDiscountBySpend ==2 )
        {
            $('select[name=DiscountBonus] option').eq(5).prop('selected', true).trigger('change');
        }


        var count = 0;
        $('.selectlist').each(function () {
            $.each(selectList, function (val, text) {
                $("#select" + count).append($('<option />', {
                    value: val,
                    text: text
                }));

            });
            // alert(count);
            count++;
        });

        var sSList = @Html.Raw(Json.Encode(ViewBag.SS));
        $("#hdnFdID").val(sSList[1].foreign_Key);
        for(var i = 0; i < sSList.length; i++) {
            if(sSList[i].value_Key  == "Итог")
            {
                $("#tot").val(sSList[i].value);
            }
            if(sSList[i].value_Key  == "Дата")
            {
                $("#txtDate").val(sSList[i].value.split(' ')[0].replace('.','-'));
            }
            if(sSList[i].value_Key  == "Скидки :")
            {
                $('select[name=DiscountBonus]').val(sSList[i].value).prop('selected', true).trigger('change');
            }
            if(sSList[i].value_Key  == "Добавления к цене :")
            {
                $('select[name=DiscountIncrease]').val(sSList[i].value).prop('selected', true).trigger('change');
            }
            if(sSList[i].value_Key.indexOf('кол') > 0)
            {
                var text = sSList[i].value_Key.split('цена')[0];
                text =  text.substring(text.indexOf(' ')+1);
                $("td:contains(" + text.trim() + ")" ).next().find('select').val(sSList[i].value);
            }
        }

        //$(".txtDate").datepicker();        
        //$('#txtDate').datepicker().on('show', function (e) {
        //    forceParse: false
        //});
    });



</script>
