﻿@model OCManager.Entities.Anonymous.Form_2161884DTO

@{
    ViewBag.Title = "";
}

<h2>GetForm2161884</h2>
<style type="text/css">
        #accordion .panel-heading {
            padding: 0;
        }

        #accordion .panel-title > a {
            display: block;
            padding: 0.4em 0.6em;
            outline: none;
            font-weight: bold;
            text-decoration: none;
        }

            #accordion .panel-title > a.accordion-toggle::before, #accordion a[data-toggle="collapse"]::before {
                content: "\e113";
                float: left;
                font-family: 'Glyphicons Halflings';
                margin-right: 1em;
            }

            #accordion .panel-title > a.accordion-toggle.collapsed::before, #accordion a.collapsed[data-toggle="collapse"]::before {
                content: "\e114";
            }
            textarea {
        width : 310px;
        height : 85px;
    }
            .bootstrap-select1
            {
                width:275px !important
            }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal mainForm">
        <h4>Form2161884</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.kommentarii_k_kursu_lecheniya_12, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.kommentarii_k_kursu_lecheniya_12, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kommentarii_k_kursu_lecheniya_12, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="leftPane" style="float:left; width:70%">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                @Model.Name_2051655
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <div style="float:right; width:350px;">
                                @Html.LabelFor(model => model.Primechanie_k_2051655, htmlAttributes: new { @class = "control-label col-md-6" })
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.Primechanie_k_2051655, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Primechanie_k_2051655, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group" style="float:left; width:60%">
                                @Html.Partial("_NestedUnder2161884", Model.Procedure_2051655, new ViewDataDictionary { { "discountList", ViewBag.Discount }
           , { "cost", Model.Cost_2051655 } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                @Model.Name_2051656
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <div style="float:right;  width:350px;">
                                @Html.LabelFor(model => model.Primechanie_k_2051656, htmlAttributes: new { @class = "control-label col-md-6" })
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.Primechanie_k_2051656, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Primechanie_k_2051656, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group" style="float:left; width:60%">
                                @Html.Partial("_NestedUnder2161884", Model.Procedure_2051656, new ViewDataDictionary { { "discountList", ViewBag.Discount }
           , { "cost", Model.Cost_2051656 } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                @Model.Name_2051657
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <div style="float:right;  width:350px;">
                                @Html.LabelFor(model => model.Primechanie_k_2051657, htmlAttributes: new { @class = "control-label col-md-6" })
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.Primechanie_k_2051657, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Primechanie_k_2051657, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group" style="float:left; width:60%">
                                @Html.Partial("_NestedUnder2161884", Model.Procedure_2051657, new ViewDataDictionary { { "discountList", ViewBag.Discount }
           , { "cost", Model.Cost_2051657 } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                @Model.Name_2051658
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
                            <div style="float:right;  width:350px;">
                                @Html.LabelFor(model => model.Primechanie_k_2051658, htmlAttributes: new { @class = "control-label col-md-6" })
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.Primechanie_k_2051658, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Primechanie_k_2051658, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group" style="float:left; width:60%">
                                @Html.Partial("_NestedUnder2161884", Model.Procedure_2051658, new ViewDataDictionary { { "discountList", ViewBag.Discount }
           , { "cost", Model.Cost_2051658 } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFive">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                @Model.Name_1951659
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                        <div class="panel-body">
                            <div style="float:right;  width:350px;">
                                @Html.LabelFor(model => model.Primechanie_k_1951659, htmlAttributes: new { @class = "control-label col-md-6" })
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.Primechanie_k_1951659, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Primechanie_k_1951659, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group" style="float:left; width:60%">
                                @Html.Partial("_NestedUnder2161884", Model.Procedure_1951659, new ViewDataDictionary { { "discountList", ViewBag.Discount }
           , { "cost", Model.Cost_1951659 } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSix">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                @Model.Name_1951660
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                        <div class="panel-body">
                            <div style="float:right;  width:350px;">
                                @Html.LabelFor(model => model.Primechanie_k_1951660, htmlAttributes: new { @class = "control-label col-md-6" })
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.Primechanie_k_1951660, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Primechanie_k_1951660, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group" style="float:left; width:60%">
                                @Html.Partial("_NestedUnder2161884", Model.Procedure_1951660, new ViewDataDictionary { { "discountList", ViewBag.Discount }
           , { "cost", Model.Cost_1951660 } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSeven">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                @Model.Name_1951661
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                        <div class="panel-body">
                            <div style="float:right;  width:350px;">
                                @Html.LabelFor(model => model.Primechanie_k_1951661, htmlAttributes: new { @class = "control-label col-md-6" })
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.Primechanie_k_1951661, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Primechanie_k_1951661, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group" style="float:left; width:60%">
                                @Html.Partial("_NestedUnder2161884", Model.Procedure_1951661, new ViewDataDictionary { { "discountList", ViewBag.Discount }
           , { "cost", Model.Cost_1951661 } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingEight">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                @Model.Name_1951662
                            </a>
                        </h4>
                    </div>
                    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                        <div class="panel-body">
                            <div style="float:right;  width:350px;">
                                @Html.LabelFor(model => model.Primechanie_k_1951662, htmlAttributes: new { @class = "control-label col-md-6" })
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.Primechanie_k_1951662, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Primechanie_k_1951662, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group" style="float:left; width:60%">
                                @Html.Partial("_NestedUnder2161884", Model.Procedure_1951662, new ViewDataDictionary { { "discountList", ViewBag.Discount }
           , { "cost", Model.Cost_1951662 } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingNine">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                @Model.Name_1951663
                            </a>
                        </h4>
                    </div>
                    <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                        <div class="panel-body">
                            <div style="float:right;  width:350px;">
                                @Html.LabelFor(model => model.Primechanie_k_1951663, htmlAttributes: new { @class = "control-label col-md-6" })
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.Primechanie_k_1951663, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Primechanie_k_1951663, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group" style="float:left; width:60%">
                                @Html.Partial("_NestedUnder2161884", Model.Procedure_1951663, new ViewDataDictionary { { "discountList", ViewBag.Discount }
           , { "cost", Model.Cost_1951663 } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTen">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                @Model.Name_1951664
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                        <div class="panel-body">
                            <div style="float:right;  width:350px;">
                                @Html.LabelFor(model => model.Primechanie_k_1951664, htmlAttributes: new { @class = "control-label col-md-6" })
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.Primechanie_k_1951664, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Primechanie_k_1951664, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group" style="float:left; width:60%">
                                @Html.Partial("_NestedUnder2161884", Model.Procedure_1951664, new ViewDataDictionary { { "discountList", ViewBag.Discount }
           , { "cost", Model.Cost_1951664 } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingEleven">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                @Model.Name_1951671
                            </a>
                        </h4>
                    </div>
                    <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
                        <div class="panel-body">
                            <div style="float:right;  width:350px;">
                                @Html.LabelFor(model => model.Primechanie_k_1951671, htmlAttributes: new { @class = "control-label col-md-6" })
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.Primechanie_k_1951671, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Primechanie_k_1951671, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group" style="float:left; width:60%">
                                @Html.Partial("_NestedUnder2161884", Model.Procedure_1951671, new ViewDataDictionary { { "discountList", ViewBag.Discount }
           , { "cost", Model.Cost_1951671 } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwelve">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                                @Model.Name_1951672
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
                        <div class="panel-body">
                            <div style="float:right;  width:350px;">
                                @Html.LabelFor(model => model.Primechanie_k_1951672, htmlAttributes: new { @class = "control-label col-md-6" })
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.Primechanie_k_1951672, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Primechanie_k_1951672, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group" style="float:left; width:60%">
                                @Html.Partial("_NestedUnder2161884", Model.Procedure_1951672, new ViewDataDictionary { { "discountList", ViewBag.Discount }
           , { "cost", Model.Cost_1951672 } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThirteen">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                                @Model.Name_1951669
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThirteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirteen">
                        <div class="panel-body">
                            <div style="float:right;  width:350px;">
                                @Html.LabelFor(model => model.Primechanie_k_1951669, htmlAttributes: new { @class = "control-label col-md-6" })
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.Primechanie_k_1951669, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Primechanie_k_1951669, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group" style="float:left; width:60%">
                                @Html.Partial("_NestedUnder2161884", Model.Procedure_1951669, new ViewDataDictionary { { "discountList", ViewBag.Discount }
           , { "cost", Model.Cost_1951669 } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFourteen">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                                @Model.Name_1951670
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFourteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFourteen">
                        <div class="panel-body">
                            <div style="float:right;  width:350px;">
                                @Html.LabelFor(model => model.Primechanie_k_1951670, htmlAttributes: new { @class = "control-label col-md-6" })
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.Primechanie_k_1951670, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Primechanie_k_1951670, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group" style="float:left; width:60%">
                                @Html.Partial("_NestedUnder2161884", Model.Procedure_1951670, new ViewDataDictionary { { "discountList", ViewBag.Discount }
           , { "cost", Model.Cost_1951670 } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFifteen">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                                @Model.Name_1951665
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFifteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFifteen">
                        <div class="panel-body">
                            <div style="float:right;  width:350px;">
                                @Html.LabelFor(model => model.Primechanie_k_1951665, htmlAttributes: new { @class = "control-label col-md-6" })
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.Primechanie_k_1951665, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Primechanie_k_1951665, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group" style="float:left; width:60%">
                                @Html.Partial("_NestedUnder2161884", Model.Procedure_1951665, new ViewDataDictionary { { "discountList", ViewBag.Discount }
           , { "cost", Model.Cost_1951665 } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSixteen">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                                @Model.Name_1951666
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSixteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSixteen">
                        <div class="panel-body">
                            <div style="float:right;  width:350px;">
                                @Html.LabelFor(model => model.Primechanie_k_1951666, htmlAttributes: new { @class = "control-label col-md-6" })
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.Primechanie_k_1951666, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Primechanie_k_1951666, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group" style="float:left; width:60%">
                                @Html.Partial("_NestedUnder2161884", Model.Procedure_1951666, new ViewDataDictionary { { "discountList", ViewBag.Discount }
           , { "cost", Model.Cost_1951666 } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSeventeen">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
                                @Model.Name_1951666
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSeventeen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeventeen">
                        <div class="panel-body">
                            <div style="float:right;  width:350px;">
                                @Html.LabelFor(model => model.Primechanie_k_2161880, htmlAttributes: new { @class = "control-label col-md-6" })
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.Primechanie_k_2161880, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Primechanie_k_2161880, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group" style="float:left; width:60%">
                                @Html.Partial("_NestedUnder2161884", Model.Procedure_2161880, new ViewDataDictionary { { "discountList", ViewBag.Discount }
           , { "cost", Model.Cost_2161880 } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingEighteen">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEighteen" aria-expanded="false" aria-controls="collapseEighteen">
                                @Model.Name_1951666
                            </a>
                        </h4>
                    </div>
                    <div id="collapseEighteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEighteen">
                        <div class="panel-body">
                            <div style="float:right;  width:350px;">
                                @Html.LabelFor(model => model.Primechanie_k_2161881, htmlAttributes: new { @class = "control-label col-md-6" })
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.Primechanie_k_2161881, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Primechanie_k_2161881, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group" style="float:left; width:60%">
                                @Html.Partial("_NestedUnder2161884", Model.Procedure_2161881, new ViewDataDictionary { { "discountList", ViewBag.Discount }
           , { "cost", Model.Cost_2161881 } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="rightPane" style="float:right; width: 30%">
            <div class="row">
                <div class="form-group">

                    <div style="width:70%; float:right;" class="col-md-10">
                        <label class="control-label col-lg-12" for="loc">Кабинет : </label>
                        @*@Html.DropDownList("location", ((List<Room>)Session["rooms"]).Select(m => new SelectListItem { Text = m.name, Value = Convert.ToString(m.ID) }),
                            new { @class = "selectpicker", @data_live_search = "true", @data_selected_text_format = "count" })*@
                        @Html.DropDownList("buildings", ViewBag.BuildingList as IEnumerable<SelectListItem>, 
                       new { @class = "selectpicker bootstrap-select1" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">

                    <div style="width:70%; float:right;" class="col-md-10">
                        <label class="control-label col-lg-12" for="date">дата начала лечени¤:</label>
                        <input type="text" class="form-control Calendar" id="txtStartDate" data-date-format="dd-mm-yyyy">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">

                    <div style="width:70%; float:right;" class="col-md-10">
                        <label class="control-label col-lg-12" for="date">ведите дату пропущенного дн¤:</label>
                        <input type="text" class="form-control Calendar" id="txtMissedDate" data-date-format="dd-mm-yyyy">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">

                    <div style="width:70%;float:right;" class="col-md-10">
                        <label class="control-label col-lg-12" for="date">дата планируемого окончани¤ лечени¤:</label>
                        <input type="text" class="form-control Calendar" id="txtPlannedEndDate" data-date-format="dd-mm-yyyy">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">

                    <div style="width:70%;float:right;" class="col-md-10">
                        <label class="control-label col-lg-12" for="date">дата фактического завершени¤ лечени¤:</label>
                        <input type="text" class="form-control Calendar" id="txtActualEndDate" data-date-format="dd-mm-yyyy">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">

                    <div style="width:70%;float:right;" class="col-md-10">
                        <label class="control-label col-lg-12" for="date">заметки::</label>
                        <textarea type="text" class="form-control" id="txtNote"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div style="width:70%;float:right;" class="col-md-10">
                        <button type="button" id="btnSavePatHeiling" onclick="savePatHeiling();" class="btn btn-default">Save</button>
                        <input type="hidden" id="hdnFrmDataID2161884" value="@Model.form_data_id" />
                    </div>
                </div>
            </div>
        </div>





        @*<div class="form-group">
                @Html.LabelFor(model => model.occ_id, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.occ_id, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.occ_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.occ_id_1, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.occ_id_1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.occ_id_1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.occ_id_2, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.occ_id_2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.occ_id_2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.occ_id_3, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.occ_id_3, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.occ_id_3, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.occ_id_4, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.occ_id_4, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.occ_id_4, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.occ_id_5, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.occ_id_5, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.occ_id_5, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.occ_id_6, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.occ_id_6, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.occ_id_6, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.occ_id_7, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.occ_id_7, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.occ_id_7, "", new { @class = "text-danger" })
                </div>
            </div>*@


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="btnSave2161884" type="button" value="Save Form" onclick="Save2161884(this);" class="btn btn-default" />
            </div>
        </div>
    </div>
}

