﻿@using OCManager.Entities.Anonymous;
@model OCManager.Entities.DBEntities.Form1242785

@{
    ViewBag.Title = "";
}

<style>
    .richText {
        height: 600px;
    }
</style>
@if (Session["IsOperator"] != null)
{
    if (Convert.ToInt32(Session["IsOperator"]) == 1)
    {
        <h3>Выписка</h3>
        <p>
            Вы можете заказать составление выписки.<br>
            Для этого, пожалуйста, выберите тип выписки и доктора, который её составит.<br>
        </p>
        <div class="row">
            <label class="control-label col-sm-2" for="doctors">Врач:</label>
            <div style="width:40%" class="col-md-10">
                @Html.DropDownList("docDDL", ((List<Doctors>)ViewBag.docList).Select(m => new SelectListItem { Text = m.Name, Value = Convert.ToString(m.Email) }),
                                new { @class = "selectpicker" })
            </div>
        </div>
        <div class="row">
            <p>выберите тип выписки ↓</p>
            <input type="radio" name="tip_vipiski" value="1">
            <lable class="tv_l_1">за 1-2 курса лечения</lable>
            <small class="tv_s_1">(срок изготовления 3 рабочих дня)</small>
            <br />
            <input type="radio" name="tip_vipiski" value="2">
            <lable class="tv_l_2">за последний год наблюдений</lable>
            <small class="tv_s_2"> (срок изготовления 3 рабочих дня)</small>
            <br />
            <input type="radio" name="tip_vipiski" value="3">
            <lable class="tv_l_3">за весь период наблюдения </lable>
            <small class="tv_s_3">(срок изготовления 5 рабочих дней)</small>
            <br />

            <strong>Ваши комментарии (примечания) к заказываемой выписке↓</strong>
            <small>Будут включены в email-уведомление для доктора, которому Вы заказываете составление выписки</small>
            <br />
            <textarea class="note_to_order" id="txtareaComment" style="width:500px; height:50px;"></textarea>
        </div>
        <input type="button" id="btnRelease" onclick="AssignReleaseForm()" value="Assign" />
    }
}
else
{
    if (ViewBag.Assignee != null)
    {
        string assignee = Convert.ToString(ViewBag.Assignee);
        if (assignee.Contains("completed"))
        {
            <br />
            <br />
            <p>  Release document for this patient has been completed</p>
        }

        else if (ViewBag.Assignee != "1" && ViewBag.Assignee != null)
        {
            <br />
            <br />
            <p> Release document for this patient has been assigned to @ViewBag.Assignee</p>
        }
    }
    else
    {
        if (Model.Signature_Status == 0 && ViewBag.stringData == null)
        {
            <div id="dvFilter" class="form-horizontal mainForm">
                <h4>Выписка</h4>
                <hr />

                <div class="row">
                    Вы можете ↓

                    <div>
                        <input type="button" value="Сформировать выписку за весь период" id="btnWholePeriod" onclick="getAllFormData();" />
                    </div>
                    @*<div>
                        <input type="button" value="View Pdf" id="btnPrintPdf" onclick="printPDF();" />
                    </div>*@

                </div>
                <div class="row">
                    или ↓
                    <div>
                        <input type="button" value="Сформировать выписку за указанный период" onclick="getFormDataRange();" id="btnRange" />
                        с  <input class="Calendar" type="text" value="@ViewBag.fdate" data-date-format="dd-mm-yyyy" id="fromDate" name="fromDate" />
                        по <input class="Calendar" type="text" id="toDate" value="@ViewBag.tdate" data-date-format="dd-mm-yyyy" name="toDate" />
                    </div>

                </div>

            </div>
        }
        else
        {
            <div id="dvData" class="row">
                @{
                    if (Model.Tip_Vipiski == 1)
                    {
                        <span>
                            Составление этой выписки за 1 - 2 курса лечения заказано
                            пользователем @Model.Username.Split('_')[0] доктору Диагностика @Model.Username.Split('_')[1]
                        </span>
                    }
                    else if (Model.Tip_Vipiski == 2)
                    {
                        <span>
                            Составление этой выписки за 1 - 2 курса лечения заказано
                            пользователем @Model.Username.Split('_')[0] доктору Диагностика @Model.Username.Split('_')[1]
                        </span>
                    }
                    else
                    {
                        <span>
                            Составление этой выписки за 1 - 2 курса лечения заказано
                            пользователем @Model.Username.Split('_')[0] доктору Диагностика @Model.Username.Split('_')[1]
                        </span>
                    }
                }
            </div>
            <div class="row">
                срок изготовления 3 рабочих дня
            </div>
            <div class="row">
                дата заказа выписки <b> @Model.create_date </b>
            </div>
            <br />
            <div class="row">
                Примечание к заказанной выписке: <br />
                @Model.Comment
            </div>
            <div class="row">
                <input type="button" value="View Pdf" id="btnPrintPdf" onclick="printPDF();" />
            </div>
            <div id="dvData" class="row">
                <textarea class="richText" id="richText">
                    @if (Model.Tekst_Vipiski_0 == null)
                    {
                        <img src="~/Content/ReleaseDoc/wapka-kaliningrad.jpg" alt="" />
                    }
                    @Html.Raw(ViewBag.stringData)
                </textarea>
            </div>
            <input type="hidden" id="hdnSigStatus" name="hdnSigStatus" value="@Model.Signature_Status" />
                    if (Model.Signature_Status == 0)
                    {
                        <div class="row" style="padding-top:3%">
                            <div class="form-group">
                                Заведующий отделением
                                @Html.DropDownList("head1", new List<SelectListItem>()
                        {
                            new SelectListItem(){ Text= "-", Value = "0"},
                            new SelectListItem(){ Text= "Ляо И.В.", Value = "669148"},
                            new SelectListItem(){ Text= "Никитина А.А.", Value = "797236"},
                            new SelectListItem(){ Text= "Шавердова М.С.", Value = "626557"},
                            new SelectListItem(){ Text= "Кудряшова Е.А.", Value = "2109561"},
                            new SelectListItem(){ Text= "Агагулян С.Г.", Value = "2219738"},
                            new SelectListItem(){ Text= "Узуев М.И.", Value = "2166303"}
                        })

                                Заведующий отделением
                                @Html.DropDownList("head2", new List<SelectListItem>()
                        {
                            new SelectListItem(){ Text= "-", Value = "0"},
                            new SelectListItem(){ Text= "Ляо И.В.", Value = "669148"},
                            new SelectListItem(){ Text= "Никитина А.А.", Value = "797236"},
                            new SelectListItem(){ Text= "Шавердова М.С.", Value = "626557"},
                            new SelectListItem(){ Text= "Кудряшова Е.А.", Value = "2109561"},
                            new SelectListItem(){ Text= "Агагулян С.Г.", Value = "2219738"},
                            new SelectListItem(){ Text= "Узуев М.И.", Value = "2166303"}
                        })
                            </div>
                            @if (Model.Signature_613915 != null)
                            {
                                <div>
                                    И.Э.: <input type="checkbox" checked="checked" id="mainHead" name="mainHead" value="613915" />
                                </div>
                            }
                            else
                            {
                                <div>
                                    И.Э.: <input type="checkbox" id="mainHead" name="mainHead" value="613915" />
                                </div>
                            }
                            @if (Model.Signature_603615 != null)
                            {
                                <div>
                                   В.О.:  <input type="checkbox" checked="checked" id="deputy" name="deputy" value="603615" />
                                </div>
                            }
                            else
                            {
                                <div>
                                    В.О.:  <input type="checkbox" id="deputy" name="deputy" value="603615" />
                                </div>
                            }

                        </div>
                    }
                    else
                    {
                        <p>The document will be signed by: </p>
                        if (Model.Head1 != "0" && Model.Head1 != null)
                        {<div>Заведующий отделением:<label id="lblhead1">@Model.Head1</label></div>}
                        if (Model.Head2 != "0" && Model.Head2 != null)
                        {<div> Заведующий отделением: <label id="lblhead2">@Model.Head2</label></div>}
                        if (Model.Signature_603615 != null)
                        {<div> В.О.: <label id="lblsig1">@Model.Signature_603615</label></div>}
                        if (Model.Signature_613915 != null)
                        {<div> И.Э. :<label id="lblsig2">@Model.Signature_613915</label></div>}
                        
                    }
                    <div>
                        Signed:  <input type="checkbox" id="signed" name="signed" value="1" />
                        <input type="button" id="btnDocSave" onclick="SaveReleaseDoc()" value="Save" />
                        <input type="hidden" id="hdnFormDataID" name="hdnFormDataID" value="@Model.Form_Data_ID" />
                        <input type="hidden" id="hdnDocID" name="hdnDocID" value="@Model.Attending_Doctor" />

                        @if (Model.Signature_Status > 0)
                        {
                            <input type="button" id="btnDocSave" onclick="RejectReleaseDoc()" value="Reject" />
                        }
                    </div>
                            }
                        }
                    }
<input type="hidden" id="hdnPatID" name="hdnPatID" value="@ViewBag.PatID" />

<script src="~/Scripts/tinymce.js"></script>
<script>
    $(document).ready(function () {

        tinymce.init({ mode: "specific_textareas", editor_selector: 'richText',  language : "ru" });

        //$('#fromDate').datepicker("setDate", new Date());
        //$('#toDate').datepicker("setDate", new Date());
    });
</script>
