﻿@model OCManager.Entities.DBEntities.Form1464314

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Form1464314</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.form_data_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.form_data_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.form_data_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.priem_1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.priem_1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.priem_1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.data_4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.data_4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.data_4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VIS_OD_6_, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VIS_OD_6_, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VIS_OD_6_, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VIS_OD_8_, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VIS_OD_8_, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VIS_OD_8_, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VIS_OS_10_, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VIS_OS_10_, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VIS_OS_10_, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VIS_OS_11_, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VIS_OS_11_, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VIS_OS_11_, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Vis_OD_13, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Vis_OD_13, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Vis_OD_13, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sph_14, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sph_14, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sph_14, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cyl_15, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cyl_15, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cyl_15, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ax_16, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ax_16, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ax_16, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model._17, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model._17, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model._17, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Vis_OS_18, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Vis_OS_18, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Vis_OS_18, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sph_19, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sph_19, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sph_19, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cyl_20, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cyl_20, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cyl_20, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ax_21, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ax_21, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ax_21, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model._22, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model._22, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model._22, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ax_26, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ax_26, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ax_26, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.diopt_27, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.diopt_27, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.diopt_27, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ax_28, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ax_28, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ax_28, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.diopt_29, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.diopt_29, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.diopt_29, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ax_30, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ax_30, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ax_30, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.diopt_31, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.diopt_31, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.diopt_31, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ax_32, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ax_32, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ax_32, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.diopt_33, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.diopt_33, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.diopt_33, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OD_sph_35, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OD_sph_35, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OD_sph_35, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cyl_36, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cyl_36, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cyl_36, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ax_37, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ax_37, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ax_37, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OS_sph_38, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OS_sph_38, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OS_sph_38, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cyl_39, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cyl_39, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cyl_39, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ax_40, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ax_40, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ax_40, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.midriaz_41, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.midriaz_41, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.midriaz_41, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.uzkij_zrachok_45, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.uzkij_zrachok_45, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.uzkij_zrachok_45, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SolMidriacil_05_48, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SolMidriacil_05_48, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SolMidriacil_05_48, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SolMidriacil_1_51, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SolMidriacil_1_51, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SolMidriacil_1_51, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OD_54, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OD_54, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OD_54, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.____55, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.____55, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.____55, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OS_56, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OS_56, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OS_56, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.____57, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.____57, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.____57, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.po_girwbergu_bo_59, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.po_girwbergu_bo_59, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.po_girwbergu_bo_59, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.__60, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.__60, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.__60, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.po_girwbergu_vo_61, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.po_girwbergu_vo_61, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.po_girwbergu_vo_61, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.__62, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.__62, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.__62, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cm__vo_64_33, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cm__vo_64_33, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cm__vo_64_33, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.bo_70, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.bo_70, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.bo_70, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.m__vo_76_1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.m__vo_76_1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.m__vo_76_1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.bo_82, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.bo_82, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.bo_82, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.m__vo_88_5, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.m__vo_88_5, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.m__vo_88_5, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.bo_94, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.bo_94, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.bo_94, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.bo_ou_101, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.bo_ou_101, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.bo_ou_101, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.__102, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.__102, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.__102, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.su_103, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.su_103, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.su_103, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.__104, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.__104, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.__104, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vo_ou_105, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vo_ou_105, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vo_ou_105, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.__106, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.__106, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.__106, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.su_107, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.su_107, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.su_107, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.__108, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.__108, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.__108, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.zapas_akkomodacii_110, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.zapas_akkomodacii_110, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.zapas_akkomodacii_110, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.izrashodovannaya_chast_111, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.izrashodovannaya_chast_111, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.izrashodovannaya_chast_111, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.obem_akkomodacii_122, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.obem_akkomodacii_122, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.obem_akkomodacii_122, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OD_114, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OD_114, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OD_114, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OS_116, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OS_116, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OS_116, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OD_norma_119, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OD_norma_119, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OD_norma_119, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OS_norma_120, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OS_norma_120, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OS_norma_120, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OD_norma_122, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OD_norma_122, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OD_norma_122, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OS_norma_123, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OS_norma_123, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OS_norma_123, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.issledovanie_temnovoj_adaptacii_norma_124, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.issledovanie_temnovoj_adaptacii_norma_124, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.issledovanie_temnovoj_adaptacii_norma_124, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.opredelenie_polya_vzora_norma_125, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.opredelenie_polya_vzora_norma_125, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.opredelenie_polya_vzora_norma_125, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.opredelenie_cvetooschuscheniya_norma_126, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.opredelenie_cvetooschuscheniya_norma_126, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.opredelenie_cvetooschuscheniya_norma_126, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dvizheniya_glaznih_yablok_127, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dvizheniya_glaznih_yablok_127, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dvizheniya_glaznih_yablok_127, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.__130, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.__130, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.__130, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nistagm_131, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nistagm_131, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nistagm_131, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.__134, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.__134, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.__134, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.__138, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.__138, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.__138, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.__142, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.__142, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.__142, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.konvergenciya_146, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.konvergenciya_146, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.konvergenciya_146, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nalichie_diplopii_149, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nalichie_diplopii_149, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nalichie_diplopii_149, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.proverka_ravnodejstviya_glaznih_miwc_na_vibor_152, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.proverka_ravnodejstviya_glaznih_miwc_na_vibor_152, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.proverka_ravnodejstviya_glaznih_miwc_na_vibor_152, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.polozhenie_vek_156, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.polozhenie_vek_156, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.polozhenie_vek_156, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.smikanie_glaznoj_scheli_161, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.smikanie_glaznoj_scheli_161, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.smikanie_glaznoj_scheli_161, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.__164, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.__164, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.__164, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.konjunktiva_165, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.konjunktiva_165, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.konjunktiva_165, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.__171, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.__171, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.__171, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.oblast_sleznogo_mewka_172, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.oblast_sleznogo_mewka_172, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.oblast_sleznogo_mewka_172, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.otdelyaemoe_178, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.otdelyaemoe_178, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.otdelyaemoe_178, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.otdelyaemoe_2_182, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.otdelyaemoe_2_182, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.otdelyaemoe_2_182, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.__186, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.__186, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.__186, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.rogovica_187, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.rogovica_187, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.rogovica_187, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.__191, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.__191, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.__191, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fljuoresceinovaya_instillyacionnaya_proba_norma_192, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fljuoresceinovaya_instillyacionnaya_proba_norma_192, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fljuoresceinovaya_instillyacionnaya_proba_norma_192, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.perednyaya_kamera_199, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.perednyaya_kamera_199, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.perednyaya_kamera_199, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vlaga_perednej_kameri_203, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vlaga_perednej_kameri_203, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vlaga_perednej_kameri_203, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kommentarij_208, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kommentarij_208, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kommentarij_208, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.raduzhka_210, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.raduzhka_210, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.raduzhka_210, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kommentarij_220, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kommentarij_220, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kommentarij_220, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.zrachok_221, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.zrachok_221, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.zrachok_221, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kommentarij_227, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kommentarij_227, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kommentarij_227, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.reakciya_zrachka_na_svet_pryamaya_228, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.reakciya_zrachka_na_svet_pryamaya_228, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.reakciya_zrachka_na_svet_pryamaya_228, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sodruzhestvennaya_232, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sodruzhestvennaya_232, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sodruzhestvennaya_232, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hrustalik_236, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hrustalik_236, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hrustalik_236, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kommentarij_242, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kommentarij_242, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kommentarij_242, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.steklovidnoe_telo_243, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.steklovidnoe_telo_243, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.steklovidnoe_telo_243, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kommentarij_248, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kommentarij_248, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kommentarij_248, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dzn_250, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dzn_250, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dzn_250, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kommentarij_257, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kommentarij_257, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kommentarij_257, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.granici_258, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.granici_258, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.granici_258, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kommentarij_263, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kommentarij_263, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kommentarij_263, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.arterii_i_veni_264, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.arterii_i_veni_264, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.arterii_i_veni_264, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hod_268, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hod_268, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hod_268, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.makulyarnaya_oblast_272, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.makulyarnaya_oblast_272, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.makulyarnaya_oblast_272, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kommentarij_276, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kommentarij_276, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kommentarij_276, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.periferiya_glaznogo_dna_277, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.periferiya_glaznogo_dna_277, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.periferiya_glaznogo_dna_277, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kommentarij_281, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kommentarij_281, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kommentarij_281, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lokalizaciya_razriva_setchatki_282, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lokalizaciya_razriva_setchatki_282, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lokalizaciya_razriva_setchatki_282, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OD_sph_708, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OD_sph_708, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OD_sph_708, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cyl_709, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cyl_709, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cyl_709, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ax_710, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ax_710, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ax_710, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OS_sph_711, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OS_sph_711, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OS_sph_711, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cyl_712, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cyl_712, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cyl_712, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ax_713, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ax_713, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ax_713, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.zapolnil_714, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.zapolnil_714, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.zapolnil_714, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.data_715, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.data_715, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.data_715, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OD_sph_716, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OD_sph_716, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OD_sph_716, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cyl_717, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cyl_717, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cyl_717, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ax_718, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ax_718, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ax_718, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OS_sph_719, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OS_sph_719, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OS_sph_719, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cyl_720, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cyl_720, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cyl_720, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ax_721, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ax_721, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ax_721, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.zapolnil_722, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.zapolnil_722, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.zapolnil_722, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.data_723, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.data_723, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.data_723, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cikloplegiya_27, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cikloplegiya_27, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cikloplegiya_27, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cikloplegiya_2_30, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cikloplegiya_2_30, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cikloplegiya_2_30, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.gonioskopia_upk_301, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.gonioskopia_upk_301, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.gonioskopia_upk_301, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.gonioskopia_eye_302, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.gonioskopia_eye_302, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.gonioskopia_eye_302, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.gonioskopia_sk_303, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.gonioskopia_sk_303, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.gonioskopia_sk_303, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.gonioskopia_eye_304, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.gonioskopia_eye_304, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.gonioskopia_eye_304, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pred_diagnoz_601, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pred_diagnoz_601, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pred_diagnoz_601, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.leading_602, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.leading_602, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.leading_602, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sight_603, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sight_603, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sight_603, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User_Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User_Id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.User_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Data, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Data, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
