﻿<style type="text/css">
    .posi {
        float: left !important;
        padding-right: 20px;
    }
</style>
<div class="modal fade" id="uploadMultiple" tabindex="-1" role="dialog" aria-labelledby="uploadMultipleLabel">

    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:800px; height:500px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addPatientLabel">Upload Multiple Files</h4>
            </div>
            <div style="padding-left:50px;" class="container">
                <form class="form-horizontal">
                    <div class="row" style="float:left;">
                        <div class="form-group">
                            @Html.DropDownList("CategoryList", (IEnumerable<SelectListItem>)ViewBag.CategoryList,
                "--Move Document To Folder--", new { @class = "posi" })
                            <div style="padding-left:20px; float:left;">
                                @Html.TextBox("mfile", "", new { type = "file" })
                            </div>
                        </div>
                    </div>
                    <input style="margin-left:15px; float:left;" onclick="addMore(this);" type="button" id="addRow" value="+" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="closeReset();" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="uploadMultiFile();">Upload Files</button>
            </div>
        </div>
    </div>
</div>

