﻿@model IEnumerable<OCManager.Entities.Anonymous.PatientDocDTO>

@{
    ViewBag.Title = "GetPatientDocuments";
}
<style type="text/css">
    .tree-toggler {
        cursor: pointer;
    }

    .nav-list {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 0;
    }
</style>
<h2>Документы</h2>
<div style="float:right" data-target="#uploadMultiple" data-toggle="modal">
    <a href="../UploadMultipleDoc" > Upload Multiple Document </a>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('label.tree-toggler').click(function () {
            $(this).parent().children('ul.tree').toggle(300);
        });
    });
</script>
<div class="container" style="width:105%;">
    <div style="overflow-y: hidden; overflow-x: hidden; width:350px; height: 500px; float:left">
        <ul class="nav nav-list">
            <li>
                <label class="tree-toggler nav-header">Ясный Взор</label>
                <ul class="nav nav-list tree">
                    @Html.Raw(ViewBag.treeData)
                </ul>
            </li>
        </ul>

    </div>
    <div id="dvUpload" style="display:none;">
        @Html.TextBox("file", "", new { type = "file" }) <br />
        <input type="button" id="btnUpload" onclick="UploadFile();" value="Upload" />
    </div>
    <div id="dvImage" style="display:none; width:105%;">
        <div id="dvUpdate" style="float:left;">
            <label id="fileName"></label>
            <input id="txtFile" type="text" value="" style="display:none;" />
            <br />
            @Html.DropDownList("CategoryList", (IEnumerable<SelectListItem>)ViewBag.CategoryList,
                "--Move Document To Folder--", new { id = "ddlCategories", @class = "selectpicker", @disabled = "disabled" })

            <input type="button" id="btnEdit" value="Edit" onclick="EditFile(this);" />
            <input type="button" id="btnUpdate" style="display:none;" value="Update" onclick="UpdateFile(this);" />
            <input type="button" id="btnCancel" style="display:none;" value="Cancel" onclick="CancelUpdate(this);" />
        </div>
        <div id="dvDownload" style="float:right;">
            <a id="imgDownload" name="" href="#">Загрузить документ </a> <br /> Размер файла: (<label id="fileSize"></label> KB) <br />
            Дата: <label id="lblDate"></label> <br />
            Тип файла : <label id="lblType"></label>
        </div>
        <div id="dvImageView">
            <img style="width:500px; height:650px; display:none;" src="" id="selectedImage" />
            <iframe style="width:500px; height:650px; display:none;" id="fileView" src=""></iframe>
        </div>
    </div>

</div>
<input id="hdnCatID" type="hidden" name="hdnCatID" value="" />
<input id="hdnPatID" type="hidden" name="hdnPatID" value="@ViewBag.PatientID" />
@Html.Partial("~/Views/PatientDocument/_UploadMultiple.cshtml")

