﻿<style>
    .datepicker {
        z-index: 1151 !important;
    }
</style>
<div class="modal fade" id="addPatient" tabindex="-1" role="dialog" aria-labelledby="addPatientLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addPatientLabel">Добавить нового пациента</h4>
            </div>
            <div style="padding-left:50px;" class="container">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="form-group">
                            <label for="recipient-lastname" class="control-label">Фамилия:</label>
                            <input type="text" class="form-control" id="recipient-lastname">
                        </div>
                        <div class="form-group">
                            <label for="recipient-firstname" class="control-label">Имя:</label>
                            <input type="text" class="form-control" id="recipient-firstname">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="recipient-middlename" class="control-label">Отчество:</label>
                            <input type="text" class="form-control" id="recipient-middlename">
                        </div>
                        <div class="form-group">
                            <label for="recipient-dob" class="control-label">Дата рождения:</label>
                            <input type="text" class="form-control Calendar" id="recipient-dob">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="phone-number" class="control-label">Телефон:</label>
                            <input type="text" class="form-control" id="phone-number">
                        </div>
                        <div class="form-group">
                            <label for="registration-location" class="control-label">Место регистрации:</label>
                            <br />
                            <select class="selectpicker" id="registration-location" style="width:280px;" name="patientStatistics[registration_location]">
                                <option value="502547" label="Бакунинская">Бакунинская</option>
                                <option value="1896502" label="Бескудниково">Бескудниково</option>
                                <option value="2360335" label="Бутово">Бутово</option>
                                <option value="502545" label="Гиляровского">Гиляровского</option>
                                <option value="1551521" label="Калининград: отд. Невролога">Калининград: отд. Невролога</option>
                                <option value="732359" label="Калининград: отд.Зам.Руководителя">Калининград: отд.Зам.Руководителя</option>
                                <option value="845645" label="Калининград: отд.Офтальмолога">Калининград: отд.Офтальмолога</option>
                                <option value="904300" label="Калининград: отд.Руководителя">Калининград: отд.Руководителя</option>
                                <option value="903800" label="Калининград: отд.Стационар">Калининград: отд.Стационар</option>
                                <option value="600203" label="Марьино">Марьино</option>
                                <option value="600207" label="Мичуринский">Мичуринский</option>
                                <option value="613912" label="Москва">Москва</option>
                                <option value="1052879" label="Москва: ДНК-центр">Москва: ДНК-центр</option>
                                <option value="1546523" label="Сокол">Сокол</option>
                                <option value="2253736" label="Солнцево">Солнцево</option>
                            </select>
                        </div>
                        </div>

                        @*<div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary active">
                    <input type="checkbox" autocomplete="off" checked> Yes
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> No
                </label>
            </div>*@
</form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" onclick="savePatient();" class="btn btn-primary">Сохранить</button>
                <input type="hidden" id="Person_ID" name="Person_ID" />
            </div>
        </div>
    </div>
</div>