﻿@model OCManager.Entities.DBEntities.PatientContract
@{
    ViewBag.Title = "Patient Contract";
    Layout = null;
}

<div style="padding-left:50px;" class="container">
    <form class="form-horizontal">

        <div class="row">
            <div class="form-group">
                <label for="recipient-lastname" class="control-label">Номер договора:</label>
                @Html.TextBoxFor(model => model.Contract_Nomer, new { htmlAttributes = new { @class = "form-control" } })

            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="discount" class="control-label">Тип договора:</label>
                @Html.DropDownListFor(model => model.Contract_Tip, new List<SelectListItem>()
                             {
                                new SelectListItem(){ Text= "Фиксированный договор", Value = "1"},
                                new SelectListItem(){ Text= "Годовой Базовый", Value = "2"},
                                new SelectListItem(){ Text= "Годовой Расширенный", Value = "3"}
                             })
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="recipient-lastname" class="control-label">Cумма:</label>
                @Html.TextBoxFor(model => model.Contract_Amount, new { htmlAttributes = new { @class = "form-control" } })

            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="discount" class="control-label">Discount:</label>
                @Html.EditorFor(model => model.Contract_Note, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <input type="hidden" id="hdnPatID" name="hdnPatID" value="@ViewBag.PatID" />

        <div class="row">
            <div>
                <input type="button" onclick="SavePatientContract(this);" value="Save" class="btn btn-default" />
            </div>
        </div>

    </form>
</div>


