﻿@using OCManager.Entities.Anonymous;
@using OCManager.Entities.DBEntities;

<div class="modal fade" id="addAppointment" tabindex="-1" role="dialog" aria-labelledby="addAppointmentLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addPatientLabel">Изменить Прием</h4>
            </div>
            <div style="padding-left:50px;" class="">
                <form class="form-horizontal">

                    <div class="row">
                        <div class="form-group">
                            <label style="width:30%" class="control-label col-sm-2" for="doctors">Врач:</label>
                            <div style="width:40%" class="col-md-10">
                                @*@Html.DropDownList("Doctors", null, new { @class = "selectpicker", @data_actions_box = "true", @data_live_search = "true", @data_selected_text_format = "count" })*@
                                @Html.DropDownList("Doctors", ((List<Doctors>)Session["docList"]).Select(m => new SelectListItem { Text = m.Name, Value = Convert.ToString(m.ID) }),
                                new { @class = "selectpicker", @data_live_search = "true", @data_selected_text_format = "count" })
                                @*@Html.DropDownList(v => v.ID, new System.Web.Mvc.MultiSelectList(ViewBag.CustList, "ID", "Name", ViewBag.ID))
                                    <select id="ddlDoc" class="selectpicker" data-actions-box="true" data-live-search="true" data-selected-text-format="count"></select>*@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label style="width:30%" class="control-label col-sm-2" for="loc">Кабинет : </label>
                            @*<label id="lbllocValue" class="control-label col-sm-2" style="width:22.5%;" for="locValue"> </label>*@
                            <div style="width:40%" class="col-md-10">
                                @Html.DropDownList("location", ((List<Room>)Session["rooms"]).Select(m => new SelectListItem { Text = m.name, Value = Convert.ToString(m.ID) }),
            new { @class = "selectpicker", @data_live_search = "true", @data_selected_text_format = "count" })
                                </div>
                            </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label style="width:30%" class="control-label col-sm-2" for="date">Дата:</label>
                            <div style="width:70%" class="col-md-10">
                                <input type="text" class="form-control" id="txtCalendar" data-date-format="dd-mm-yyyy">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label style="width:30%" class="control-label col-sm-2" for="note">Заметки:</label>
                            <div style="width:70%" class="col-md-10">
                                <textarea class="form-control" style="resize:none;height:84px" id="patNotes"
                                          rows="4" cols="80" maxlength="500" wrap="hard"></textarea>


                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">

                            <label style="width:30%" class="control-label col-sm-2">Статус:</label>
                            <div class="col-md-10" style="width:40%">
                                @Html.DropDownList("Reasons", ((List<SelectListItem>)Session["Reasons"]).Select(m => new SelectListItem { Text = m.Text, Value = Convert.ToString(m.Value) }), new { @class = "selectpicker", @data_selected_text_format = "count" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">

                            <label style="width:30%" class="control-label col-sm-2">Пациент:</label>
                            <div id="dvPatientSearch" class="col-md-10" style="width:70%">
                                <div id="selectedValue"></div>
                                @if (ViewBag.PatientName != null)
                                {
                                    <input type="text" placeholder="Type Patient Record Number" value="@ViewBag.PatientName" style="width:300px" class="form-control typeahead" id="txtPatientSearch">
                                }
                                else
                                {
                                    <input type="text" placeholder="Type Patient Record Number" style="width:300px" class="form-control typeahead" id="txtPatientSearch">
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">

                            <label class="control-label col-sm-2" style="width:30%" for="time1">Начало:</label>
                            <div class="col-md-10" style="width:70%;">
                                <div style="width:130px;" class="input-group bootstrap-timepicker timepicker">
                                    <input id="timepicker1" type="text" class="form-control input-small">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">

                            <label class="control-label col-sm-2" style="width:30%" for="time2"> Конец:</label>
                            <div class="col-md-10" style="width:70%">
                                <div style="width:130px;" class="input-group bootstrap-timepicker timepicker">
                                    <input id="timepicker2" type="text" class="form-control input-small">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                    </div>
                    @*<div class="row">
                        <div class="form-group">
                            <div class="control-label col-sm-2 checkbox" style="width:51%; padding-left:210px;">
                                <label>
                                    <input type="checkbox"> Check Me
                                </label>
                            </div>
                        </div>
                    </div>*@

                </form>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnAppID" value="" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" onclick="SaveAppointment();" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    #dvPatientSearch .tt-dropdown-menu {
        max-height: 150px;
        overflow-y: auto;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        var path = "../OccurenceManager/PatientLookup";
        if (window.location.href.indexOf("PatientCard") > 0)
        {
            path = "../PatientLookup";
        }
        var bestPictures = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: path + '/query',
            remote: {
                url: path + '/%QUERY',
                wildcard: '%QUERY'
            }
        });
        bestPictures.initialize();

        $('#txtPatientSearch').typeahead(null, {
            name: 'best-pictures',
            display: 'Name',
            limit: 100,
            source: bestPictures.ttAdapter()

            //$('#dvPatientSearch .typeahead').typeahead(null, {
            //    name: 'best-pictures',
            //    display: 'Name',
            //    limit: 100,
            //    source: function (query, process) {
            //        return $.ajax({
            //            type: "GET",
            //            url: "../OccurenceManager/PatientLookup?query=" + $('#txtPatientSearch').val(),
            //            contentType: "application/json; charset=utf-8",
            //            success: function (data) {
            //                debugger;
            //                return data.ttAdapter();
            //            },
            //            error: function () { alert("Error Occured"); }
            //        });
            //    }
            }).on('typeahead:selected', function (event, data) {
                $('#selectedValue').val(data.ID);
            });
        });
    
    
</script>