﻿
<div class="col-sm-10">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-9 col-sm-3"><strong>Creation Date</strong></div>
                <div class="col-xs-4 hidden-xs"><strong>Changed By</strong></div>
                <div class="col-xs-2 hidden-xs"><strong>Patient Name</strong></div>
                <div class="col-xs-2 hidden-xs"><strong>Uploaded By</strong></div>
                <div class="col-xs-3 col-sm-1"><strong>Actions</strong></div>
                <div class="col-xs-9 col-sm-3"><strong>Creation Date</strong></div>
                <div class="col-xs-4 hidden-xs"><strong>Changed By</strong></div>
                <div class="col-xs-2 hidden-xs"><strong>Patient Name</strong></div>
                <div class="col-xs-2 hidden-xs"><strong>Uploaded By</strong></div>
                <div class="col-xs-3 col-sm-1"><strong>Actions</strong></div>
            </div>
        </div>
        <div class="panel-body" ng-repeat="collaborate in collaborateLeftData">
            <div class="row row-hover">
                <div class=" col-xs-9 col-sm-3">


                    <i class="fa fa-file-o">dsad</i>

                </div>
                <div class="col-xs-4 wordwrap">kjh k</div>
            <div class="col-xs-4 wordwrap">dkjsakh d</div>
            <div class="col-xs-2">dsjah ds</div>
            <div class="col-xs-2">dkjsah djks</div>
                <div class="col-xs-4 wordwrap">kjh k</div>
                <div class="col-xs-4 wordwrap">dkjsakh d</div>
                <div class="col-xs-2">dsjah ds</div>
                <div class="col-xs-2">dkjsah djks</div>
            
        </div>

    </div>
</div>

<span id="usersList"></span>
<span id="rolesList"></span>

<span id="usersListPop"></span>
<span id="rolesListPop"></span>
</div>