﻿
@model IEnumerable<OCManager.Entities.Anonymous.FormDataDTO>

    <div style="width:100%; height:400px; overflow-y:scroll;" class="container">

        <form class="form-horizontal">
            <table class="table">
                <tr>
                  
                    <th>
                        Название формы @*@Html.DisplayNameFor(model => model.FormName)*@
                    </th>
                    <th>
                        Дата @*@Html.DisplayNameFor(model => model.LastEdit)*@
                    </th>
                    @*<th>
                        Пользователь
                    </th>*@
                    
                </tr>
                
                @foreach (var item in Model)
                {
                    <tr>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.FormDataID)
                        </td>*@
                        <td>
                            @if (item.FormID == 1247857 || item.FormID == 2161884 || item.FormID == 1242785)
                            {
                                string url = "../../Form/Form" + item.FormID + "?patID=" + ViewData["patID"] + "&formDataId=" + item.FormDataID;
                                <a href="@url">@item.FormName</a>
                            }
                            else
                            {
                                string url = "../../PhpForms/" + item.FormID + ".php?patID=" + ViewData["patID"] + "&formDataId=" + item.FormDataID;
                                <a href="@url">@item.FormName</a>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastEdit)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>*@
                    </tr>
                }

            </table>

        </form>

    </div>
