﻿@*@model PagedList.IPagedList<OCManager.Entities.Anonymous.OccurenceHistoryDTO>
@using PagedList.Mvc;*@

@model IEnumerable<OCManager.Entities.Anonymous.OccurenceHistoryDTO>

    @*<h2>GetAppointmentHistoryList</h2>*@

    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
    @*<div class="modal fade" id="appointmentList" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addPatientLabel">Add Appointment</h4>
                </div>*@
<div style="width:100%; height:400px; overflow-y:scroll;" class="container">
    @*<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />*@
    <input type="hidden" id="hdnPatientName" value="@Model.First().PatientName" />
    <form class="form-horizontal">
        <table class="table">
            <tr>
                <th> <img src="~/Content/img/edit.png" width="20;" /> </th>
                @*<th> <img src="~/Content/img/operator.png" width="20;"/></th>*@
                <th> <img src="~/Content/img/datetime.png" width="20;" /> </th>
                <th> <img src="~/Content/img/clinic.png" width="20;" /> </th>
                <th> <img src="~/Content/img/vrach.png" width="20;" /> </th>
                <th> ? </th>
                <th> Заметка </th>
                <th> V</th>
            </tr>            
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (item.TimeStamp.Date >= DateTime.Now.Date)
                        {
                            <a href="#" data-target='#addAppointment' data-toggle='modal' onclick="EditAppointemt(this);" id="@item.OccurenceID">Edit</a>
                        }
                        else
                        {
                            <span> Edit</span>
                        }
                    </td>

                    @*<td>
                            @Html.DisplayFor(modelItem => item.LastChangedBy)
                        </td>*@

                    <td>
                        @Html.DisplayFor(modelItem => item.Start)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DoctorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reason)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>
                    <td>
                        @if (item.hasAttended != null)
                        {
                            @Html.CheckBoxFor(modelItem => item.hasAttended.Value, new
                                   {
                                       @id = "chkHasAttended",
                                       @onclick = "SaveAttendance(this, " + item.OccurenceID + ")",
                                   })
                        }
                        else
                        {
                            @Html.CheckBox("chkHasAttended", new
                                       {
                                           @onclick = "SaveAttendance(this, " + item.OccurenceID + ")",
                                           @value = ""
                                       })
                        }

                    </td>
                </tr>
            }

        </table>

    </form>

    <br />
    @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("PatientCard", new { ID = Model.FirstOrDefault().PatientID, page }))*@

    </div>






    @*<div class="modal-footer">
                        <input type="hidden" id="hdnAppID" value="" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" onclick="SaveAppointment();" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>*@
