﻿@model IEnumerable<OCManager.Entities.Anonymous.MenuFormDTO>

<style type="text/css">
    .bootstrap-select
    {
        width:375px !important;
    }
</style>
@foreach (string item in Model.Select(s => s.MenuName).Distinct())
{
    <div class="dropdown">
        <label>@item </label> <br /><br />
        @Html.DropDownList(
    item,
    new SelectList(
        Model.Where(a => a.MenuName == item).OrderBy(o => o.FormID).Select(x => new { Value = x.FormID, Text = x.FormName }),
        "Value",
        "Text"
    ), new
    {
        @class = "selectpicker", 
        //@data_target = "FormContainer",
        //@data_toggle = "modal",
        @id= Request.Url.ToString().Split('?')[0].Substring(Request.Url.ToString().Split('?')[0].LastIndexOf('/') + 1),
        onchange = "openForm(this);"
    }
)    <br />
    </div>
}

@Html.Partial("~/Views/Form/FormContainer.cshtml", null)