﻿@model IEnumerable<OCManager.Entities.DBEntities.Number>


        <table class="table">
            <tr>
                <th>
                 Номер   @*@Html.DisplayNameFor(model => model.number)*@
                </th>

                <th>
                    Заметка @*@Html.DisplayNameFor(model => model.Notes)*@
                </th>
                <th>
                  Тип   @*@Html.DisplayNameFor(model => model.Number_Type)*@
                </th>
                @*@if (ViewBag.IsEdit == 0)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Active)
                    </th>
                }
                else
                {
                    <th>
                        Action
                    </th>
                }*@
            </tr>



            @foreach (var item in Model)
            {
                <tr>
                    <td style="display:none">
                        @item.Number_Id
                    </td>
                    @if (ViewBag.IsEdit == 0)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.number)
                        </td>
                    }
                    else
                    {
                        <td>
                            <a href="#" onclick="getNumber(this)">   @Html.DisplayFor(modelItem => item.number)</a>
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Number_Type)
                    </td>
                    @if (ViewBag.IsEdit == 0)
                    {
                        @*<td>
                            @Html.DisplayFor(modelItem => item.Active)
                        </td>*@
                    }
                    else
                    {
                        <td>
                            <a href="" onclick="deleteNumber(@item.Number_Id)">Delete</a>
                        </td>
                    }
                </tr>
            }
        </table>

        @if (ViewBag.IsEdit == 1)
        {
            <div style="padding-left:30px;" class="row">
                <input type="hidden" id="numID" name="numID" value="" />
                <div class="form-group">
                    <label for="lblNumber" class="control-label">Number:</label>

                    @Html.TextBox("txtNumber")

                    <label style="padding-left:20px;" for="numbertype" class="control-label">Type:</label>
                    <select id="ddltype" name="ddltype">
                        <option value="" label="-">-</option>
                        <option value="1" label="Mother">
                            Mother
                        </option>
                        <option value="2" label="Father">
                            Father
                        </option>
                        <option value="3" label="Home">
                            Home
                        </option>
                        <option value="3" label="Mobile">
                            Mobile
                        </option>
                        <option value="3" label="Email">
                            Email
                        </option>
                    </select>


                    <label for="lblNote" style="padding-left:20px;" class="control-label">Note:</label>
                    <textarea class="form-label" style="height:65px; width:250px;" id="txtAreaNote" name="txtAreaNote"></textarea>

                </div>
                @*@Html.HiddenFor(a => a.Foreign_ID)*@
            </div>
            <div class="row">
                <div>
                    <input type="button" onclick="UpdateNumber(this);" value="Update" class="btn btn-default" />
                </div>
            </div>
        }

