﻿@model OCManager.Entities.DBEntities.PatientInsurance
@{
    ViewBag.Title = "Patient Insurance";
    Layout = null;
}
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<link href="~/Content/datepicker.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js" ></script>
<script type="text/javascript">
        $(document).ready(function () {
            $('.Calendar').datepicker();
        });
</script>
<style>
    .datepicker {
        z-index: 1151 !important;
    }
</style>
<div style="padding-left:50px;" class="container">
    <form class="form-horizontal" id="PatInsForm">
        <div class="row">
            <div class="form-group">
                <label for="Ins_Tip" class="control-label">Тип договора:</label>
                @Html.DropDownListFor(model => model.Ins_Tip, new List<SelectListItem>()
                             {
                                new SelectListItem(){ Text= "OMC", Value = "OMC"}
                             })
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="recipient-lastname" style="float:left" class="control-label">или паспорта пациента: </label>
                <input type="text" class="form-control" style="float:left" id="Birth_Cert">
            </div>
        </div>
       
        <div class="row">
            <div class="form-group">
                <label for="recipient-lastname" style="float:left" class="control-label"> Номер страховки:</label>
                <input type="text" maxlength="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control" id="nomer1" value="" style="width:30px;float:left; padding:9px" />
                <input type="text" maxlength="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57"  class="form-control" id="nomer2" value="" style="width:30px;float:left; padding:9px" />
                <input type="text" maxlength="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57"  class="form-control" id="nomer3" value="" style="width:30px;float:left; padding:9px" />
                <input type="text" maxlength="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57"  class="form-control" id="nomer4" value="" style="width:30px;float:left; padding:9px" />
                <input type="text" maxlength="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57"  class="form-control" id="nomer5" value="" style="width:30px;float:left; padding:9px" />
                <input type="text" maxlength="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57"  class="form-control" id="nomer6" value="" style="width:30px;float:left; padding:9px" />
                <input type="text" maxlength="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57"  class="form-control" id="nomer7" value="" style="width:30px;float:left; padding:9px" />
                <input type="text" maxlength="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57"  class="form-control" id="nomer8" value="" style="width:30px;float:left; padding:9px" />
                <input type="text" maxlength="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57"  class="form-control" id="nomer9" value="" style="width:30px;float:left; padding:9px" />
                <input type="text" maxlength="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57"  class="form-control" id="nomer10" value="" style="width:30px;float:left; padding:9px" />
                <input type="text" maxlength="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57"  class="form-control" id="nomer11" value="" style="width:30px;float:left; padding:9px" />
                <input type="text" maxlength="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57"  class="form-control" id="nomer12" value="" style="width:30px;float:left; padding:9px" />
                <input type="text" maxlength="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57"  class="form-control" id="nomer13" value="" style="width:30px;float:left; padding:9px" />
                <input type="text" maxlength="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57"  class="form-control" id="nomer14" value="" style="width:30px;float:left; padding:9px" />
                <input type="text" maxlength="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57"  class="form-control" id="nomer15" value="" style="width:30px;float:left; padding:9px" />
                <input type="text" maxlength="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57"  class="form-control" id="nomer16" value="" style="width:30px;float:left; padding:9px" />
                <input type="hidden" class="form-control" id="Ins_Nomer">
            </div>
        </div>
        <div class="row">
            <div class="form-group" style="float:left">
                <label for="discount" class="control-label">Название страховой компании:</label>
                <input type="text" class="form-control" id="Ins_Name">
            </div>
       
            <div class="form-group" style="padding-left:50px; float:left">
                <label for="discount" class="control-label">Направление:</label>
                <input type="text" class="form-control" id="Napravlenie">
            </div>
        </div>
        <div class="row">
            <div class="form-group" style="float:left">
                <label for="discount" class="control-label">Номер поликлиники:</label>
                <input type="text" class="form-control" id="Polik_Name">
            </div>
            <div class="form-group" style="padding-left:50px; float:left">
                <label for="discount" class="control-label">Город поликлиники:</label>
                <input type="text" class="form-control" id="Polik_City">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="discount" class="control-label">Дата направления (формат ГГГГ-ММ-ДД):</label>
                <input type="text" class="form-control Calendar" id="Naprav_Date">
            </div>
        </div>
        <div class="row">
            <div class="form-group" style="float:left">
                <label for="discount" class="control-label">Доктор/Агент:</label>
                <input type="text" class="form-control" id="Agent_Name">
            </div>
       
            <div class="form-group" style="padding-left:50px; float:left;">
                <label for="discount" class="control-label">Дата внесения агента:</label>
                <input type="text" class="form-control Calendar" id="Agent_Date">
            </div>
        </div>
        <div class="row">
            <div class="form-group" style="float:left">
                <label for="discount" class="control-label">Куратор:</label>
                @Html.DropDownListFor(model => model.Kurator, new List<SelectListItem>()
                             {
                                new SelectListItem(){ Text= "Куратор1", Value = "Куратор1"},
                                new SelectListItem(){ Text= "Куратор2", Value = "Куратор2"},
                                new SelectListItem(){ Text= "Куратор3", Value = "Куратор3"},
                                new SelectListItem(){ Text= "Куратор4", Value = "Куратор4"},
                                new SelectListItem(){ Text= "Куратор5", Value = "Куратор5"},
                                new SelectListItem(){ Text= "Куратор6", Value = "Куратор6"},
                                new SelectListItem(){ Text= "Куратор7", Value = "Куратор7"}
                             })
            </div>
        
            <div class="form-group" style="float:left">
                <label for="discount" class="control-label">Направление куда:</label>
                @Html.DropDownListFor(model => model.Naprav_Kuda, new List<SelectListItem>()
                             {
                                new SelectListItem(){ Text= "Нет направления", Value = "Нет направления"},
                                new SelectListItem(){ Text= "Ясный Взор", Value = "Ясный Взор"},
                                new SelectListItem(){ Text= "Развитие Плюс", Value = "Развитие Плюс"},
                                new SelectListItem(){ Text= "ЦОЗДП", Value = "ЦОЗДП"},
                                new SelectListItem(){ Text= "Прозрение Плюс", Value = "Прозрение Плюс"},
                                new SelectListItem(){ Text= "Калининград", Value = "Калининград"}
                                
                             })
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="discount" style="float:left" class="control-label">Регион:</label>
                <input type="text" style="float:left" class="form-control" id="Region">
            </div>
        </div>
        <input type="hidden" id="hdnPatID" name="hdnPatID" value="@ViewBag.PatID" />

        <div class="row">
            <div>
                <input type="button" onclick="SavePatientInsurance(this);" value="Save" class="btn btn-default" />
            </div>
        </div>

    </form>
</div>
