﻿@model IEnumerable<OCManager.Entities.DBEntities.Address>



<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.Name)
        </th>*@
        <th>
            @*Address*@ Адрес
        </th>
        <th>
            Тип @*@Html.DisplayNameFor(model => model.Type)*@
        </th>
        <th>
            Город @*@Html.DisplayNameFor(model => model.City)*@
        </th>
        <th>
            Индекс @*@Html.DisplayNameFor(model => model.Postal_Code)*@
        </th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td style="display:none">
                @item.Address_Id
            </td>
            <td style="display:none">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @if (ViewBag.IsEdit == 0)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Line1)
                </td>
            }
            else
            {
                <td>
                    <a href="#" onclick="getAddress(this)">  @Html.DisplayFor(modelItem => item.Line1) <br /> @Html.DisplayFor(modelItem => item.Line2)  </a>
                </td>
                <td style="display:none;">
                    @Html.DisplayFor(modelItem => item.Line2)
                </td>
            }

            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Postal_Code)
            </td>
            @if (ViewBag.IsEdit == 1)
            {
                <td>
                    <a href="" onclick="deleteAddress(@item.Address_Id)">Delete</a>
                </td>
            }
        </tr>

    }

</table>

@if (ViewBag.IsEdit == 1)
{
    
}


