﻿@using OCManager.Common
@using Microsoft.AspNet.Identity
@model IEnumerable<OCManager.Entities.DBEntities.PatientNote>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            Delete
        </th>

    </tr>



    @foreach (var item in Model)
    {
        <tr>
            <td style="display:none">
                @item.Patient_Note_Id
            </td>

            <td>
                @{
                    EnumClass.PatientDiscountPriority priorityName = (EnumClass.PatientDiscountPriority)item.Priority;
                    string stringValue = priorityName.ToString();
                }
                @stringValue
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Note_Date)
            </td>
            
            <td>
                @{
                    string userName = User.Identity.GetUserName();
                }
                @userName
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                <a href="" onclick="deletePatientNote(@item.Patient_Note_Id)">Delete</a>
            </td>
        </tr>
                    }
</table>
