﻿
<style>
    .datepicker {
        z-index: 1151 !important;
    }
</style>
<div class="modal fade" id="searchPatient" tabindex="-1" role="dialog" aria-labelledby="searchPatientLabel">
    <div class="modal-dialog" role="document" style="width:700px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addPatientLabel">Поиск</h4>
            </div>
            <div class="container">
                <div id="dvfilter" style="margin-left:5%; width:650px;">
                    <div style="float:left; width:35%">
                        <input type="text" style="width:95%" placeholder="First/Last Name Record Number" id="sc1" value="" /> <br />
                    </div>
                    <div style="float:left; padding-right:10px;">
                        <input type="text" id="sc2" value="" placeholder="Phone Number" />
                    </div>
                    <div style="float:left">
                        <input type="text" id="sc3" class="Calendar" value="" placeholder="Date Of Birth" data-date-format="dd.mm.yyyy" />
                    </div>
                    <br />
                    <br />
                    <div>
                        <button type="button" onclick="GetPatientList($('#sc1').val(), $('#sc2').val(), $('#sc3').val());" class="btn btn-primary">Поиск</button>
                    </div>
                </div>
                <div id="PatientSearchList" style="padding-left:30px; height: 250px; overflow-y: scroll;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <input type="hidden" id="Person_ID" name="Person_ID" />
            </div>
        </div>
    </div>
</div>