﻿<div class="modal fade" id="addAppointment" tabindex="-1" role="dialog" aria-labelledby="addAppointmentLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addPatientLabel">Add Appointment</h4>
            </div>
            <div style="padding-left:50px;" class="container">
                <form class="form-horizontal">

                    <div class="row">
                        <div class="form-group">
                            <label style="width:20%" class="control-label col-sm-2" for="doctors">Doctors:</label>
                            <div style="width:80%" class="col-md-10">
                                <select id="ddlDoc" class="selectpicker" data-actions-box="true" data-live-search="true" data-selected-text-format="count"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label style="width:20%" class="control-label col-sm-2" for="loc">Location : </label>
                            <label class="control-label col-sm-2" for="locValue">Test Location </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label style="width:20%" class="control-label col-sm-2" for="date">Date:</label>
                            <div style="width:80%" class="col-md-10">
                                <input type="text" class="form-control" id="txtCalendar">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label style="width:20%" class="control-label col-sm-2" for="note">Notes:</label>
                            <div style="width:80%" class="col-md-10">
                                <textarea class="form-control" style="resize:none;height:84px" id="patNotes"
                                          rows="4" cols="80" maxlength="500" wrap="hard"></textarea>

                                <code>
                                    -
                                    <span id="totalWordLength">
                                    </span>
                                </code>
                            </div>
                        </div>
                    </div>

                    @*<div class="col-md-12 pad-top-10">
                            <label for="questionText" class="control-label">Notes</label>
                            <textarea class="form-control" style="resize:none;height:84px" id="patNotes"
                                      rows="4" cols="80" maxlength="500" wrap="hard"></textarea>
                            <code>
                                -
                                <span id="totalWordLength">
                                </span>
                            </code>
                        </div>*@
                    <div class="row">
                        <div class="form-group">

                            <label style="width:20%" class="control-label col-sm-2">Reason Code:</label>
                            <div class="col-md-10" style="width:80%">
                                <select id="ddlReason" class="selectpicker" data-actions-box="true" data-live-search="true" data-selected-text-format="count"></select>
                            </div>
                        </div>
                    </div>

                    @*<nav>
                            <ul class="pager">
                                <li><a href="#">New Patient</a></li>
                            </ul>
                        </nav>
                        <div class="col-md-12">
                            <label>Patient:</label>
                            <input type="text" class="form-control" id="txtPatient">
                        </div>*@
                    <p></p>
                    <p></p>
                    <br />
                    <div class="row">
                        <div class="form-group">

                            <label class="control-label col-sm-2" style="width:20%" for="time1">Start Time:</label>
                            <div class="col-md-10" style="width:80%;">
                                <div style="width:130px;" class="input-group bootstrap-timepicker timepicker">
                                    <input id="timepicker1" type="text" class="form-control input-small">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">

                            <label class="control-label col-sm-2" style="width:20%" for="time2"> End Time:</label>
                            <div class="col-md-10" style="width:80%">
                                <div style="width:130px;" class="input-group bootstrap-timepicker timepicker">
                                    <input id="timepicker2" type="text" class="form-control input-small">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="control-label col-sm-2 checkbox" style="width:36.5%; padding-left:120px;">
                                <label>
                                    <input type="checkbox"> Check Me
                                </label>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>