﻿
@model OCManager.Entities.DBEntities.DiscountNote
@{
    ViewBag.Title = "Discount of patient";
    Layout = null;
}

<div style="padding-left:50px;" class="container">
   
    @using (Html.BeginForm("OccurenceManager", "AddPatientDiscount",  FormMethod.Post, new { @id = "discountForm" }))
    {
        <div class="row">
            <div class="form-group">
                <label for="recipient-lastname" class="control-label">Note:</label>
                <textarea class="form-control" id="Note" name="Note"></textarea>

            </div>
            <div class="form-group">
                <label for="discount" class="control-label">Discount:</label>
                @*<input type="text" class="form-control" id="discount">*@
                @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.HiddenFor(a => a.Foreign_ID)
        </div>
        <div class="row">
            <div>
                <input type="button" onclick="SavePatientDiscount(this);" value="Save" class="btn btn-default" />
            </div>
        </div>

       
    }
</div>
