﻿
<div class="modal fade" id="patientEdit" tabindex="-1" role="dialog" aria-labelledby="patientEditLabel">
    <div class="modal-dialog" role="" style="width:805px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addPatientLabel">Patient Information</h4>
            </div>
            <div style="padding-left:50px;" class="container">
                <form class="form-horizontal">

                    <div class="row">
                        <div class="form-group">
                            <div id="PatientInformationContainer"></div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnAppID" value="" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


