﻿@using OCManager.Entities.DBEntities;
@model OCManager.Entities.Anonymous.PatientCardDTO
@{
    ViewBag.Title = "Discount of patient";
    Layout = null;
}
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<link href="~/Content/datepicker.css" rel="stylesheet" />
<style>
    .datepicker {
        z-index: 1151 !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('.Calendar').datepicker('setdate', $("#DOB").val());
        $('.Calendar1').datepicker('setdate', $("#RegistrationDate").val());

    });
</script>
<div class="container">
    <div class="row">
        <input type="hidden" id="hdnPatID" name="hdnPatID" value="@Model.PatientID" />
        <div class="panel-body" style="float:left; width:28%">
            <div class="row">
                <div class="form-group">
                    <label style="width:40%" class="control-label col-sm-2" for="name">Patient Name : </label>
                    @Html.TextBoxFor(molel => molel.PatientFName)
                    @Html.TextBoxFor(molel => molel.PatientLName)
                </div>
            </div>
            @*<div class="row">
                    <div class="form-group">
                        <label style="width:40%" class="control-label col-sm-2" for="loc">Card Number : </label>
                        @Html.DisplayFor(model => model.PatientCardNumber)
                    </div>
                </div>*@
            <div class="row">
                <div class="form-group">
                    <label style="width:40%" class="control-label col-sm-2" for="loc">Gender : </label>
                    @*@Html.TextBoxFor(model => model.Sex)*@
                    @Html.DropDownListFor(model => model.Sex, new List<SelectListItem>()
                    {
                        new SelectListItem(){ Text= "Male", Value = "Male"},
                        new SelectListItem(){ Text= "Female", Value = "Female"},

                    })


                </div>
            </div>
            @*<div class="row">
                    <div class="form-group">
                        <label style="width:40%" class="control-label col-sm-2" for="loc">Age : </label>
                        @Html.DisplayFor(model => model.Age)
                    </div>
                </div>*@

            <div class="row">
                <div class="form-group">
                    <label style="width:40%" class="control-label col-sm-2" for="loc">Date Of Birth : </label>
                    @Html.TextBoxFor(model => model.DOB, new { @class = "Calendar" })
                </div>
            </div>
            <div style="padding-left:65%;">
                <input type="button" onclick="UpdatePatient();" id="updatePat" value="Update" />
            </div>
        </div>


        <div class="panel-body" style="float:left; width:50%">
            <div class="row">
                <div class="form-group">
                    <label style="width:40%" class="control-label col-sm-2" for="loc">Patient Source : </label>
                    @Html.DropDownListFor(model => model.Source, new List<SelectListItem>()
                    {
new SelectListItem(){ Text="-" , Value = "0"},
 new SelectListItem(){ Text="Интернет другое" , Value = "1"},
 new SelectListItem(){ Text="Рекомендации" , Value = "2"},
 new SelectListItem(){ Text="Справочник" , Value = "3"},
 new SelectListItem(){ Text="Вывеска"  , Value = "4"},
 new SelectListItem(){ Text="Телевидение"                                               , Value = "5"},
 new SelectListItem(){ Text="Журнал"                                                    , Value = "6"},
 new SelectListItem(){ Text="Печатные СМИ"                                              , Value = "7"},
 new SelectListItem(){ Text="Буклет"                                                    , Value = "8"},
 new SelectListItem(){ Text="Школа"                                                     , Value = "9"},
 new SelectListItem(){ Text="Детский сад"                                               , Value = "10"},
 new SelectListItem(){ Text="Желтые страницы"                                           , Value = "11"},
 new SelectListItem(){ Text="Адрес Москва"                                              , Value = "12"},
 new SelectListItem(){ Text="Фонд Федорова"                                             , Value = "12"},
 new SelectListItem(){ Text="МНТК"                                                      , Value = "14"},
 new SelectListItem(){ Text="Оптика"                                                    , Value = "15"},
 new SelectListItem(){ Text="Лечились ранее"                                            , Value = "16"},
 new SelectListItem(){ Text="Не помнит"                                                 , Value = "17"},
 new SelectListItem(){ Text="Акции"                                                     , Value = "18"},
 new SelectListItem(){ Text="Радио"                                                     , Value = "19"},
 new SelectListItem(){ Text="Другое"                                                    , Value = "20"},
 new SelectListItem(){ Text="Наружная реклама"                                          , Value = "21"},
 new SelectListItem(){ Text="Статьи в Интернете"                                        , Value = "22"},
 new SelectListItem(){ Text="Яндекс"                                                    , Value = "23"},
 new SelectListItem(){ Text="consmed.ru"                                                , Value = "24"},
 new SelectListItem(){ Text="Mail.ru Здоровье"                                          , Value = "25"},
 new SelectListItem(){ Text="mama.ru"                                                   , Value = "26"},
 new SelectListItem(){ Text="Пампа Грин"                                                , Value = "27"},
 new SelectListItem(){ Text="Google"                                                    , Value = "28"},
 new SelectListItem(){ Text="Goodhouse.ru"                                              , Value = "29"},
 new SelectListItem(){ Text="Kroha.ru"                                                  , Value = "30"},
 new SelectListItem(){ Text="mamaexpert.ru"                                             , Value = "31"},
 new SelectListItem(){ Text="Can-go.ru"                                                 , Value = "32"},
 new SelectListItem(){ Text="Pervenez.ru"                                               , Value = "33"},
 new SelectListItem(){ Text="Дети@mail.ru"                                              , Value = "34"},
 new SelectListItem(){ Text="Здоровье@mail.ru"                                          , Value = "35"},
 new SelectListItem(){ Text="журнал &quot;Лиза.Мой ребенок&quot;"                       , Value = "36"},
 new SelectListItem(){ Text="журнал &quot;Мама, это я!&quot;"                           , Value = "37"},
 new SelectListItem(){ Text="журнал &quot;Самая&quot;"                                  , Value = "38"},
 new SelectListItem(){ Text="klops.ru (Калининград)"                                    , Value = "39"},
 new SelectListItem(){ Text="Комсомольская правда"                                      , Value = "40"},
 new SelectListItem(){ Text="Световое табло"                                            , Value = "41"},
 new SelectListItem(){ Text="Листовки"                                                  , Value = "42"},
 new SelectListItem(){ Text="Маршрутное такси"                                          , Value = "43"},
 new SelectListItem(){ Text="журнал &quot;Шпаргалка для родителей&quot;"                , Value = "44"},
 new SelectListItem(){ Text="журнал &quot;Счастливая мама&quot;"                        , Value = "45"},
 new SelectListItem(){ Text="Детки.кз"                                                  , Value = "46"},
 new SelectListItem(){ Text="АиФ"                                                       , Value = "47"},
 new SelectListItem(){ Text="ВКонтакте"                                                 , Value = "48"},
 new SelectListItem(){ Text="Фейсбук"                                                   , Value = "49"},
 new SelectListItem(){ Text="Eljur.ru"                                                  , Value = "50"},
 new SelectListItem(){ Text="проглаза.ру"                                               , Value = "51"},
 new SelectListItem(){ Text="продокторов.ру"                                            , Value = "52"},
 new SelectListItem(){ Text="медбукинг.ру"                                              , Value = "53"},
 new SelectListItem(){ Text="Социальная карта москвича"                                 , Value = "54"},
 new SelectListItem(){ Text="Мама и малыш"                                              , Value = "55"},
 new SelectListItem(){ Text="Здоровый малыш"                                            , Value = "56"},
 new SelectListItem(){ Text="Мой район"                                                 , Value = "57"},
 new SelectListItem(){ Text="7ya.ru"                                                    , Value = "58"},
 new SelectListItem(){ Text="Русское радио"                                             , Value = "59"},
 new SelectListItem(){ Text="поликлиника"                                               , Value = "60"},
 new SelectListItem(){ Text="реклама в ТЦ Солнечный"                                    , Value = "61"},
 new SelectListItem(){ Text="постеры в лифтах"                                          , Value = "62"},
 new SelectListItem(){ Text="газета &quot;На Западе Москвы&quot;"                       , Value = "63"},
 new SelectListItem(){ Text="сайт Солнцево.ру"                                          , Value = "64"},
 new SelectListItem(){ Text="сайт Управы района Солнцево"                               , Value = "65"},
 new SelectListItem(){ Text="маршрутка"                                                 , Value = "66"},
 new SelectListItem(){ Text="экран/реклама в поликлинике"                               , Value = "67"},
 new SelectListItem(){ Text="экран/реклама на улицах"                                   , Value = "68"},
 new SelectListItem(){ Text="МК"                                                        , Value = "69"},
 new SelectListItem(){ Text="Звездный бульвар"                                          , Value = "70"},
 new SelectListItem(){ Text="За Калужской заставой"                                     , Value = "71"}
                    }, new { @style = "width:150px;" })
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label style="width:40%" class="control-label col-sm-2" for="loc">Registration Location : </label>

                    @Html.DropDownListFor(model => model.RegistrationLocationID,
    ViewBag.BuildingList as IEnumerable<SelectListItem>, new { @style = "width:150px" })

                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label style="width:40%" class="control-label col-sm-2" for="loc">Registration Date : </label>
                    @Html.TextBoxFor(model => model.RegistrationDate, new { @class = "Calendar1" })
                </div>
            </div>
            <div style="padding-left:45%;">
                <input type="button" onclick="UpdatePatientStat()" id="patientStat" value="Update" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Patient Numbers</h3>
                </div>
                <div class="panel-body">
                    @{  Html.RenderPartial("_PatientNumber", Model.PatientNumbers, new ViewDataDictionary { { "IsEdit", 1 } });}

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Patient Addresses</h3>
                </div>
                <div class="panel-body">
                 @if (Model.PatientAddress[0] != null)
                 {
                     Html.RenderPartial("_PatientAddress", Model.PatientAddress, new ViewDataDictionary { { "IsEdit", 1 } });
                 }
                    <div style="padding-left:30px;" class="row">
                        <input type="hidden" id="addID" name="addID" value="" />
                        <div class="form-group">
                            <label for="lblName" class="control-label">Name:</label>
                            @Html.TextBox("txtName")
                            <label for="lblCity" class="control-label">City:</label>
                            @Html.TextBox("txtCity")
                            <label for="lblPostalCode" class="control-label">Postal Code:</label>
                            @Html.TextBox("txtPostCode")

                        </div>
                        <div class="form-group">
                            <label for="lblAddress" class="control-label">Address:</label>
                            @Html.TextBox("txtAddressLine1")
                            @Html.TextBox("txtAddressLine2")
                            <label style="padding-left:20px;" for="addresstype" class="control-label">Type:</label>
                            <select id="ddltypeAdd" name="ddltypeAdd">
                                <option value="" label="-">-</option>
                                <option value="1" label="Home">Home</option>
                                <option value="2" label="Work">Work</option>
                                <option value="3" label="Other">Other</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="lblNote" style="padding-left:20px;" class="control-label">Note:</label>
                            <textarea class="form-label" style="height:65px; width:250px;" id="txtAreaNoteAdd" name="txtAreaNoteAdd"></textarea>
                        </div>
                        @*@Html.HiddenFor(a => a.Foreign_ID)*@
                    </div>
                    <div class="row">
                        <div>
                            <input type="button" onclick="UpdateAddress(this);" value="Update" class="btn btn-default" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
