﻿@using OCManager.Entities.Anonymous;
@using OCManager.Entities.DBEntities;
@{
    ViewBag.Title = "ЕКМС - новый)";

}

<style type="text/css">
    .fc-agendaDay-view tr {
        height: 350px;
    }
    .fc-event-container
    {
        height:55px !important;
    }

    .fc-head tr {
        height: 20px;
    }

    .container {
        max-width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }

    .fc-title {
        color: black;
    }

    div.fc-time {
        background-color: #4276A8;
    }

    div.fc-scroller {
        height: 2000px !important;
    }
</style>



<table width="100%">
    <tr>
        <td width="85%">
            <div style="width:100%;" id='calendar'></div>

        </td>
        <td width="15%" style="vertical-align:top">
            <div style="padding-left:10px;padding-top:60px">
                @Html.DropDownList("Rooms", ((List<Room>)Session["rooms"]).Select(m => new SelectListItem { Text = m.name, Value = Convert.ToString(m.ID) }),
            new { @class = "selectpicker", @data_live_search = "true", @data_selected_text_format = "count" })

                @*            <input type="text" class="form-control" id="txtCalendarPermanent" readonly>*@
                <div id="txtCalendarPermanent" data-date-format="yyyy-MM-dd hh:mm"></div>
            </div>
            <div id='dialog'></div>
            <input type="hidden" id="selectedDat" />
        </td>
    </tr>
</table>

<script type="text/javascript">


    function dateChanged(ev) {

        var selectedDate = moment(ev.date).utc().format();
        document.getElementById("selectedDat").value = selectedDate;
        //$("selectedDat").val(selectedDate);
        var selectedLocation = $("#Rooms").val();
        $('#calendar').fullCalendar('destroy');
        LoadData(selectedLocation, selectedDate);

        //LoadData("@ViewBag.LocationID", new moment(selectedDate).format("MM-DD-YYYY"));
    }



    jQuery(document).ready(function () {
        $('#Rooms').on('change', function () {
            var selectedDat = $("#selectedDat").val();
            var selectedLocation = $("#Rooms").val();
            $('#calendar').fullCalendar('destroy');
            LoadData(selectedLocation, selectedDat);
        });
        document.getElementById("selectedDat").value = new moment(Date.now()).utc().format("YYYY-MM-DD hh:mm");

        $('select[name=Rooms]').val("@ViewBag.LocationID");
        $('select[name=Rooms]').selectpicker('refresh');

        $('#txtCalendarPermanent').datepicker({ format: 'yyyy-MM-dd hh:mm' }).change(dateChanged)
    .on('changeDate', dateChanged);

        LoadData("@ViewBag.LocationID", moment(Date.now()).format());
        //alert(Date.now());
        //alert(new moment(Date.now()).format("MM-DD-YYYY"));
    });

    function LoadData(LocationID, SelectedDate) {

        var event = [];
        // page is now ready, initialize the calendar...
        var requestData = {
            locationID: LocationID,
            selectedDate: SelectedDate

        };
        $.ajax({
            type: "POST",
            url: '/OccurenceManager/GetData',
            cache: false,
            data: JSON.stringify(requestData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",           
            success: function (data) {


                var obj = data;

                //alert(events.length);
                $.each(data, function (key, value) {

                    event.push({
                        title: "<a id=" + value.OccurenceID + " href=OccurenceManager/PatientCard/" + value.PersonID + "?page=1" + " > " + value.Person_Last_Name + " </a> , "
                        + value.Person_First_Name + " #" + value.Patient_Rec_Number
                        + " <br>" + moment(value.Person_DOB).format("YYYY/MM/DD") + " <br>" + value.Number + " <br>" + value.Notes + " <br>"
                        + value.ReasonCode + " <br>" + "Static Label" + "<br>" + " " + value.PatientNckName + " "
                        + "<br> <a data-target='#addAppointment' data-toggle='modal' onclick='EditAppointemt(this)' id=" + value.OccurenceID + " href='#' > Edit   </a> "
                        //+ "&nbsp; &nbsp;  <a id=" + value.OccurenceID + " href='#' onclick='DeleteAppointment(this);' > Delete    </a>  &nbsp; &nbsp;  <a href='#' > Payment   </a> &nbsp; &nbsp;"
                        + "&nbsp; &nbsp;  <a id=" + value.OccurenceID + " href='#' onclick='DeleteAppointment(this);' > Delete    </a>  &nbsp; &nbsp;  <a href='#' data-target='#payment' onclick='ShowPayment(this);' data-toggle='modal' id=" + value.OccurenceID + "> Payment   </a> &nbsp; &nbsp;"
                        + " <a data-toggle='modal' data-target='#appointmentList' id=" + value.OccurenceID + " href='#' onclick='GetAppointmentHistory(" + value.PersonID + ")'> Appointment History</a>"
                        + "<br>" + value.UserNickName1 + "<br>" + value.ODate,
                        start: moment(value.Occurence_History_Start).format('YYYY/MM/DD H:mm'),
                        end: moment(value.Occurence_History_End).format('YYYY/MM/DD H:mm'),
                        docName: value.UserNickName,
                        backgroundColor: '#' + value.Color 
                    });

                });
                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },


                    defaultView: 'agendaDay',
                    titleFormat: { day: 'ddd, DD MMM, YYYY' },
                    defaultDate: SelectedDate,                  
                    editable: false,
                    eventLimit: true, // allow "more" link when too many events
                    events: event,
//                    eventBackgroundColor: "#F4E6DA",
                    allDaySlot: false,
                    minTime: "06:00:00",
                    maxTime: "21:00:00",

    //                businessHours:
    //{

    //    start: '06:00',
    //    end: '15:00',
    //    dow: [1, 2, 3, 4, 5, 6, 7]
                    //}, 

                    eventRender: function (event, element) {
                        element.find('.fc-time').append(" " + event.docName);
                        element.find('.fc-time').css("font-size", "1em");
                        element.find('.fc-title').html(element.find('.fc-title').text());
                    }
                    //,
                    //dayClick: function (date, allDay, jsEvent, view) {
                    //    $("#dialog").dialog('open');
                    //}


                });


            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('There was an error');
            }
        });

    }


</script>

@*<input type="hidden" id="hdnPatientData" value="@ViewBag.Patients" />*@

@*@Html.Partial("~/Views/OccurenceManager/_AddAppointment.cshtml", null)
@Html.Partial("~/Views/OccurenceManager/_Payment.cshtml", null)*@
@*@Html.Partial("~/Views/OccurenceManager/_GetAppointmentHistoryList.cshtml", null)*@

@*<div id='gameModal' class='modal hide fade in' data-url='@Url.Action("_GetAppointmentHistoryList")'>
    <div id='listContainer'>
    </div>
</div>*@

<div class="modal fade" id="appointmentList" tabindex="-1" role="dialog" data-url='@Url.Action("_GetAppointmentHistoryList")'>
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:1000px; right:250px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 id="patientName" class="modal-title" id="addPatientLabel">  </h4>
            </div>
            <div id='listContainer'>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnAppID" value="" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

