﻿
@model IEnumerable<OCManager.Entities.DBEntities.PatientContract>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Contract_Nomer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contract_Tip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contract_Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contract_Note)
        </th>

    </tr>



    @foreach (var item in Model)
    {
        <tr>
            <td style="display:none">
                @item.Contract_ID
            </td>

            <td>
                @*@{
                        EnumClass.PatientDiscountPriority priorityName = (EnumClass.PatientDiscountPriority)item.Priority;
                        string stringValue = priorityName.ToString();
                    }*@
                @Html.DisplayFor(modelItem => item.Contract_Nomer)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Contract_Tip)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Contract_Amount)
            </td>

            <td>
                 @item.Created.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contract_Note)
            </td>
        </tr>
    }
</table>
