﻿@model IEnumerable<OCManager.Entities.Anonymous.PatientDTO>

@{
    ViewBag.Title = "PatientList";
    Layout = null;
}
<table class="table">
    <tr>
        <th>
            Person ID
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            DOB
        </th>
        <th>
            Record Number
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="OccurenceManager/PatientCard/@item.PersonID?page=1" id="@item.PersonID">@Html.DisplayFor(modelItem => item.PersonID)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecordNumber)
            </td>
        </tr>
    }
</table>

