﻿@model OCManager.Entities.Anonymous.PatientCardDTO
@using PagedList.Mvc;
@{
    ViewBag.Title = "Карта пациента";
}
@using OCManager.Entities.Anonymous;
<h2>Patient Card</h2>
<style>
    .btn-group {
        float: right !important;
        bottom: 25px !important;
    }
</style>

<div class="container">
    <a href="#" data-target="#patientEdit" onclick="EditPatientInformation(this);" data-toggle="modal" id="@Request.Url.ToString().Split('?')[0].Substring(Request.Url.ToString().Split('?')[0].LastIndexOf('/')+1)"> Edit Information</a>
    <input type="hidden" id="patID" name="patID" value="@Model.PatientID" />
    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Карта пациента</h3>
                    <div class="panel-title" style="float:right; margin-top:-15px">
                        <a href="#" data-target="#patientInsurance" onclick="PatInsurancePopup(this);" data-toggle="modal" id="@Model.PatientID"> @ViewBag.PatInsurance</a>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <label style="width:40%" class="control-label col-sm-2" for="name">ФИО : </label>
                            <span id="patFullName"> @Html.DisplayFor(model => model.PatientFName) @Html.DisplayFor(model => model.PatientLName) </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label style="width:40%" class="control-label col-sm-2" for="loc">Номер карты : </label>
                            @Html.DisplayFor(model => model.PatientCardNumber)
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label style="width:40%" class="control-label col-sm-2" for="loc">Пол : </label>
                            @Html.DisplayFor(model => model.Sex)
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label style="width:40%" class="control-label col-sm-2" for="loc">Возраст : </label>
                            @Html.DisplayFor(model => model.Age)
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label style="width:40%" class="control-label col-sm-2" for="loc">День рождения : </label>
                            @Html.DisplayFor(model => model.DOB)
                        </div>
                    </div>


                </div>
            </div>

        </div>

        <div class="col-xs-6">
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Статистические данные</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                <label style="width:40%" class="control-label col-sm-2" for="loc">Источник : </label>
                                @Html.DisplayFor(model => model.Source)
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label style="width:40%" class="control-label col-sm-2" for="loc">Клиника регистрации : </label>
                                @Html.DisplayFor(model => model.RegistrationLocation)
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label style="width:40%" class="control-label col-sm-2" for="loc">Дата регистрации : </label>
                                @Html.DisplayFor(model => model.RegistrationDate)
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>

    </div>


    <div class="row">
        <!--Телефон и емайл -->
        <div class="col-xs-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Телефон и емайл</h3>
                </div>

                <div class="panel-body">
                    @{  Html.RenderPartial("_PatientNumber", Model.PatientNumbers, new ViewDataDictionary { { "IsEdit", 0 } });}

                </div>
            </div>
        </div>

        <!--Финансовая информация -->
        <div class="col-xs-6">
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Финансовая информация</h3>
                    </div>

                    <div class="panel-body">
                        <div class="row" style="padding-left:10px;">
                            <div class="form-group">
                                <input type="button" id="SendDocInvite" onclick="SendEmailToDoc(@Model.PatientID);" value="Отправить запрос" />
                                @Html.DropDownList("SupervisingDoc", new List<SelectListItem>()
                    {
                        new SelectListItem(){ Text= "Азнаурян И.Э.", Value = "613915"},
                        new SelectListItem(){ Text= "Баласанян В.О.", Value = "603615"},
                        new SelectListItem(){ Text= "Ляо И.В.", Value = "669148"},
                        new SelectListItem(){ Text= "Никитина А.А.", Value = "797236"},
                        new SelectListItem(){ Text= "Шавердова М.С.", Value = "626557"},
                        new SelectListItem(){ Text= "Кудряшова Е.А.", Value = "2109561"},
                        new SelectListItem(){ Text= "Агагулян С.Г.", Value = "2219738"},
                        new SelectListItem(){ Text= "Узуев М.И.", Value = "2166303"}
                    })
                            </div>
                            <a href="#" data-target="#patientContract" onclick="AddPatientContract(this);" data-toggle="modal" id="@Model.PatientID"> Новый Договор </a>
                            @if (Model.PatientContractList.Count > 0)
                        { Html.RenderPartial("PatientContractList", Model.PatientContractList); }
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group" style="font-size:large">
                                <a href="#" data-target="#payment" onclick="ShowPayment(this);" data-toggle="modal" id="@Request.Url.ToString().Split('?')[0].Substring(Request.Url.ToString().Split('?')[0].LastIndexOf('/')+1)"> платежи пациента</a>
                                &nbsp;&nbsp;&nbsp;
                                <a href="#" data-target="#addPatientDiscount" onclick="AddPatientDiscount(this);" data-toggle="modal" id="@Request.Url.ToString().Split('?')[0].Substring(Request.Url.ToString().Split('?')[0].LastIndexOf('/')+1)"> Скидки пациента</a>
                                &nbsp;&nbsp;&nbsp;
                                <a href="#" data-target="#documents" onclick="location.href='@Url.Action("GetPatientDocuments", "PatientDocument", new { id = Request.Url.ToString().Split('?')[0].Substring(Request.Url.ToString().Split('?')[0].LastIndexOf('/')+1) })'" data-toggle="modal" id="@Request.Url.ToString().Split('?')[0].Substring(Request.Url.ToString().Split('?')[0].LastIndexOf('/')+1)"> Документы</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
         </div>


    <div class="row">

        <!--Адрес -->
        <div class="col-xs-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Адрес</h3>
                </div>

                <div class="panel-body">
                    @if (Model.PatientAddress[0] != null)
                    {
                        Html.RenderPartial("_PatientAddress", Model.PatientAddress, new ViewDataDictionary { { "IsEdit", 0 } });
                    }

                </div>
            </div>
        </div>
        
        <!--Patient Note -->
        <div class="col-xs-6">
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Patient Note</h3>
                    </div>
                    <div class="panel-body">
                        @if (Model.PatientNoteList.Count > 0)
                        {
                            Html.RenderPartial("_PatientDiscount", Model.PatientNoteList);
                        }
                    </div>
                    <div style="margin-left:5%">
                        <div class="form-group">
                            <label for="lblNote">Note:</label>
                            @Html.TextArea("txtNote", new { @style = "width:450px;" })
                            <label for="lblPriority" class="control-label">Priority:</label>
                            @Html.DropDownList("Priority", new List<SelectListItem>()
                    {
                        new SelectListItem(){ Text= "Заметки", Value = "6"},
                        new SelectListItem(){ Text= "VIP", Value = "5"},
                        new SelectListItem(){ Text= "Младше 2-х", Value = "4"},
                        new SelectListItem(){ Text= "Скидка", Value = "3"},
                        new SelectListItem(){ Text= "Внимание!", Value = "2"},
                        new SelectListItem(){ Text= "Акция", Value = "1"}
                    })
                            <div>
                                <input type="button" onclick="SavePatientNote(this);" id="@Model.PatientID" value="Save" />
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
  </div>


    <div class="row">

        <!--История Посещений -->
        <div class="col-xs-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">История Посещений</h3>
                </div>
                <div class="panel-body">
                    @if (Model.patienthistory.Count() > 0)
                    { Html.RenderPartial("_GetAppointmentHistoryList", Model.patienthistory); }
                </div>
            </div>
        </div>
       
        <div class="col-xs-4">
            <div class="row">
                <!--Назначенные Формы -->
                <div class="col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 style="width:50%" class="panel-title">Назначенные Формы</h3>   <br/><br />
                            @Html.DropDownList("ddlPatientForms", (Model.FormDataList).
                   Select(m => new SelectListItem { Text = m.FormName + " " + m.LastEdit, Value = Convert.ToString(m.FormID + "_" + m.FormDataID) }),
                                new { @class = "selectpicker", @data_live_search = "true" })
                        </div>
                        <div class="panel-body">
                            @if (Model.patienthistory.Count() > 0)
                            {
                                @Html.Partial("_FormData", Model.FormDataList, new ViewDataDictionary { { "patID", Model.PatientID } })
                            }
                        </div>
                    </div>
                </div>

                <!--Формы -->
                <div class="col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Формы</h3>
                         
                        </div>
                        <div class="panel-body">
                            @{  Html.RenderPartial("_MenuForm", Model.MenuForms);}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
        
    @Html.Partial("~/Views/OccurenceManager/_Payment.cshtml", null)
    @Html.Partial("~/Views/OccurenceManager/PatientDiscountPopup.cshtml", null)
    @Html.Partial("~/Views/OccurenceManager/PatientContractPopup.cshtml", null)
    @Html.Partial("~/Views/OccurenceManager/PatientInsurancePopup.cshtml", null)
    @Html.Partial("~/Views/OccurenceManager/EditPatientPopup.cshtml", null)
</div>



<script type="text/javascript">
    $(document).ready(function () {
        $('#ddlPatientForms').on('change', function () {
            var selected = $(this).find("option:selected").val();
            var formID = selected.split('_')[0];
            var formDataID = selected.split('_')[1];
            if (formID == 1247857 || formID == 2161884 || formID == 1242785)
                location.href = "../../Form/Form" + formID + "?patID=" + @Model.PatientID + "&formDataId=" + formDataID;
            else
                location.href = "../../PhpForms/" + formID + ".php?patID=" + @Model.PatientID + "&formDataId=" + formDataID;
        });
    });
</script>