﻿
<div class="modal fade" id="patientContract" tabindex="-1" role="dialog" aria-labelledby="addPatContractLabel">
    <div class="modal-dialog" role="document" style="width:805px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addPatientLabel">Patient Contract</h4>
            </div>
            <div id="PatientContractContainer"></div>
            <div class="modal-footer">
                <input type="hidden" id="hdnAppID" value="" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

