﻿@model IEnumerable<OCManager.Entities.Anonymous.paymentDTO>

@{
    ViewBag.Title = "ShowPayment";
    Layout = null;
}
<table class="table">
    <tr>
        <th>
            дата внесения назначения
        </th>
        <th>
            дата оплаты
        </th>
        <th>
            назначение
        </th>
        <th>
            сумма
        </th>
        <th>
            оплачено
        </th>
        <th>
            остаток
        </th>
        <th>
            назначил
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastEdit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sum_paid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.value)
        </td>

        <td>
           @( Convert.ToInt32(item.sum_paid) -  Convert.ToInt32(item.value) )     @*@Html.DisplayFor(modelItem => item.balance)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
    </tr>
}
</table>


<script type="text/javascript">
    $(document).ready(function () {
        $("a[id^=show_]").click(function (event) {
            $("#extra_" + $(this).attr('id').substr(5)).slideToggle("slow");
            event.preventDefault();
        })
    });
</script>